<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>OneFit - 체육시설업 포털</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/basic.css">
    <link rel="stylesheet" href="/css/recruit/recruit_read.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body>
<!-- 헤더 start -->
<header>
    <!-- 메인 메뉴 -->
    <div class="nav-container">
        <!-- 로고 -->
        <a class="navbar-brand me-auto" href="/main">OneFit</a>

        <!-- 메인 메뉴(채용정보, 강사찾기, 거래, 커뮤니티) -->
        <ul class="nav mx-auto">
            <li class="nav-item"><a class="nav-link" href="/recruit/list">채용정보</a></li>
            <li class="nav-item"><a class="nav-link" href="trainer_list.html">강사찾기</a></li>
            <li class="nav-item dropdown dropdown-main">
                <a class="nav-link dropdown-toggle" href="#" id="tradeDropdown" role="button"
                   data-bs-toggle="dropdown">거래</a>
                <ul class="dropdown-menu dropdown-main-menu">
                    <li><a class="dropdown-item" href="transa_list">시설</a></li>
                    <li><a class="dropdown-item" href="transa_list">기구</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown dropdown-main">
                <a class="nav-link dropdown-toggle" href="#" id="communityDropdown" role="button"
                   data-bs-toggle="dropdown">커뮤니티</a>
                <ul class="dropdown-menu dropdown-main-menu">
                    <li><a class="dropdown-item" href="#">Q&A</a></li>
                    <li><a class="dropdown-item" href="#">공지사항</a></li>
                </ul>
            </li>
        </ul>

        <!-- 사이드 메뉴(로그인, 회원가입 / 로그아웃, 마이페이지, 알림) -->
        <div class="auth-links ms-auto">
            <!-- 로그인 전 메뉴 -->
            <div th:if="${all_memberDTO == null}">
                <a type="button" class="basic-btn btn btn-primary btns" href="/login">
                    로그인
                </a>
                <span class="separator">|</span>
                <button type="button" class="basic-btn btn btn-primary btns" data-bs-toggle="modal"
                        data-bs-target="#signupModal">
                    회원가입
                </button>
            </div>

            <!-- 로그인 시에 보이는 (거래 - 판매하기/판매글 등록 게시판 이동) 버튼 start -->
            <button class="basic-btn btn btn-primary btns btn-default" type="button" id="dropdownMenuButton"
                    data-bs-toggle="dropdown" aria-expanded="false">
                판매하기
            </button>
            <!-- 기업 회원 로그인 시 나타나는 드롭다운 버튼 start -->
            <div class="dropdown">
                <!-- 드롭다운 메뉴 -->
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item" href="transa_eq_register">기구</a></li>
                    <li><a class="dropdown-item" href="transa_fa_register">시설</a></li>
                </ul>
            </div>
            <!-- 기업 회원 로그인 시 나타나는 드롭다운 버튼 end -->
            <span class="separator">|</span>
            <!-- 로그인 시에 보이는 (거래 - 판매하기/판매글 등록 게시판 이동) 버튼 end -->

            <!-- 로그인 후 메뉴 -->
            <div th:if="${all_memberDTO != null}">
                <a type="button" class="basic-btn btn btn-primary btns" href="/logout">
                    로그아웃
                </a>
                <span class="separator">|</span>
                <button type="button" class="basic-btn btn btn-primary btns">
                    <a href="/my" class="text-reset text-decoration-none">
                        마이페이지
                    </a>
                </button>
            </div>
        </div>

        <!-- 알림 start -->
        <div class="dropdown">
            <button class="signal-btn btn btn-light position-relative" type="button" id="notificationDropdown"
                    data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fas fa-bell"></i>
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                            3
                        </span>
            </button>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="notificationDropdown">
                <li>
                    <h6 class="dropdown-header">알림</h6>
                </li>
                <li><a class="dropdown-item" href="#">📢 새로운 공지가 있습니다.</a></li>
                <li><a class="dropdown-item" href="#">📩 새로운 메시지가 도착했습니다.</a></li>
                <li><a class="dropdown-item" href="#">✔️ 회원 가입이 완료되었습니다.</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item text-center" href="#">모두 보기</a></li>
            </ul>
        </div>
        <!-- 알림 end -->
    </div>
    </div>
</header>
<!-- 헤더 end -->

<!-- 메인 start -->
<main>
    <div layout:fragment="myPage"></div>
    <div layout:fragment="main">
        <div class="recruit-container container mt-5">
            <form th:action="@{/recruit/modify}" method="post" id="deleteForm">
                <input type="hidden" th:value="${dto.recruitId}" name="recruitId" readonly>
                <div style="float: right;">
                    작성일 : <span th:text="${#temporals.format(dto.regDate, 'yyyy-MM-dd HH:mm')}"></span>
                </div>
                <br>
                <br>
                <!--공고 Header -->
                <div>
                    <div class="card">
                        <div class="card-body d-flex justify-content-between align-items-center">
                            <div>
                                <h2 class="card-title fw-bold" th:text="${dto.reTitle}"></h2>
                                <p class="text-muted" th:text="${dto.reCompany}"></p>
                                <span class="badge bg-warning" th:text="${dDayText}"></span>
                                <span class="badge bg-danger" th:if="${dto.reSalaryCheckAgree == '급여협의가능'}" th:text="급여협의가능"></span>
                                <span class="badge bg-secondary" th:if="${dto.reSalaryCheckMeal == '식대지급'}" th:text="식대지급"></span>
                                <span class="badge bg-primary" th:if="${dto.reSalaryCheckDuty == '당직비지급'}" th:text="당직비지급"></span>
                            </div>
                            <img src="https://dummyimage.com/150x150/000/fff" alt="회사 로고" class="img-fluid" width="150" height="150">
                        </div>
                    </div>
                </div>
                <br>
                <!-- 공고 근무조건 -->
                <div>
                    <h4 class="fw-bold">근무조건</h4>
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <ul class="label-list-group w-50">
                                    <li class="label-list" style="margin-bottom: 5px">
                                        <span class="label">급여</span><span class="badge bg-danger" th:text="${dto.reSalaryType}"></span>
                                        <span th:text="${dto.reSalaryValue}"></span> 만원
                                    </li>
                                    <li class="label-list">
                                        <span class="label"></span>
                                        <span style="font-size: 13px;" class="label" th:text="${dto.reSalaryDetail}"></span>
                                    </li>
                                    <li class="label-list">
                                        <span class="label">근무요일</span>
                                        <span th:text="${dto.reWorkDays}"></span>
                                        <span style="font-size: 13px;" th:if="${dto.reDutyDays == '주말당직'}" th:text="'(주말당직있음)'"></span>
                                        <span></span>
                                        <span style="font-size: 13px;"></span>
                                    </li>
                                    <li class="label-list">
                                        <span class="label">근무시간</span>
                                        <span th:text="${dto.reWorkStartTime}"></span>
                                        ~
                                        <span th:text="${dto.reWorkEndTime}"></span>
                                        <span style="font-size: 13px;" th:if="${dto.reTimeNegotiable == '시간협의'}" th:text="'(시간협의가능)'"></span>
                                        <span></span>
                                    </li>
                                </ul>
                                <ul class="label-list-group w-50">
                                    <li class="label-list">
                                        <span class="label">업직종</span>
                                        <span th:text="${dto.reIndustry}"></span>
                                    </li>
                                    <li class="label-list">
                                        <span class="label">고용형태</span>
                                        <span th:if="${dto.reJobTypeAlba == '아르바이트'}" th:text="아르바이트" style="margin-right: 5px"></span>
                                        <span th:if="${dto.reJobTypeFree == '프리랜서'}" th:text="프리랜서" style="margin-right: 5px"></span>
                                        <span th:if="${dto.reJobTypeFull == '정규직'}" th:text="정규직" style="margin-right: 5px"></span>
                                        <span th:if="${dto.reJobTypePart == '파트'}" th:text="파트" style="margin-right: 5px"></span>
                                        <span th:if="${dto.reJobTypeTrainee == '연습생'}" th:text="연습생" style="margin-right: 5px"></span>
                                        <span ></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <!-- 공고 모집조건 -->
                <div>
                    <h4 class="fw-bold">모집조건</h4>
                    <div class="card">
                        <div class="card-body">
                            <ul class="label-list-group">
                                <li class="label-list">
                                    <span class="label">학력</span>
                                    <span th:text="${dto.reEducation}"></span>
                                    <span></span>
                                </li>
                                <li class="label-list">
                                    <span class="label">경력</span>
                                    <span th:text="${dto.reJobHistory}"></span>
                                </li>
                                <li class="label-list">
                                    <span class="label">모집인원</span>
                                    <span th:text="${dto.reNumHiring}"></span>명

                                </li>
                                <li class="label-list">
                                    <span class="label">모집마감일</span>
                                    <span class="badge bg-primary" th:text="${dDayText}"></span>
                                    <span th:text="${#temporals.format(dto.reDeadline, 'yyyy-MM-dd HH:mm')}"></span>
                                    <span></span>

                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <br>
                <div>
                    <h4 class="fw-bold">근무지역</h4>
                    <p>대전 동구 동서대로 1701 (용전동) 1,2층</p>
                    <div class="card">
                        <div class="card-body">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://map.naver.com/v5/" width="100%" height="300"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <!-- 공고 상세요강 -->

                <br>
                <br>
                <!-- 공고 지원 방법 -->
                <div>
                    <h4 class="fw-bold">지원방법</h4>
                    <div class="card" style="background-color: #f3f3f3;;">
                        <div class="card-body" style="width: 800px; padding: 40px;">
                            <li class="label-list" style="list-style: none; width: 800px;">
                            <span th:if="${dto.reApplyMethodEmail == '이메일지원'}" style="margin-right: 5px">
                                <i class="bi bi-envelope-at-fill fs-3" style="margin-right: 5px"></i> 이메일지원
                            </span>
                                <span th:if="${dto.reApplyMethodMsg == '문자지원'}"  style="margin-right: 5px">
                                <i class="bi bi-chat-dots-fill fs-3" style="margin-right: 5px"></i> 문자지원
                            </span>
                                <span th:if="${dto.reApplyMethodOnline == '온라인지원'}" style="margin-right: 5px">
                                <i class="bi bi-globe-americas fs-3" style="margin-right: 5px"></i> 온라인지원
                            </span>
                                <span th:if="${dto.reApplyMethodTel == '전화연락'}" style="margin-right: 5px">
                                <i class="bi bi-telephone-inbound-fill fs-3" style="margin-right: 5px"></i> 전화연락
                            </span>
                            </li>
                        </div>
                    </div>
                    <br>
                    <br>
                    <!-- 공고 채용담당자 연락처 -->
                    <div>
                        <h4 class="fw-bold">채용담당자 연락처</h4>
                        <div class="card" style="background-color: #f3f3f3;;">
                            <div class="card-body d-flex flex-column" style="width: 600px; padding: 40px;">
                                <div class="d-flex justify-content-between">
                                    <p><span class="label">담당자</span><span th:text="${dto.reAdminName}"></span></p>
                                    <p><span class="label">이메일</span><span th:text="${dto.reAdminEmail}"></span></p>
                                </div>
                                <p>
                                    <span class="label">전화</span><span th:text="${dto.reAdminPhone}"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <!-- 기업정보 -->
                    <div>
                        <h4 class="fw-bold">기업정보</h4>
                        <div class="card">
                            <div class="card-body" >
                                <div style="display: flex; align-items: center; justify-content: space-around; width: 500px; ">
                                    <img src="https://dummyimage.com/150x150/000/fff" class="rounded-circle profile-img mb-3" alt="프로필 사진">
                                    <h5>MIT짐 수원망포역점</h5>
                                </div>
                                <hr>
                                <br>
                                <div>
                                    <ul class="label-list-group">
                                        <li class="label-list"><span class="label">대표</span> 홍길동</li>
                                        <li class="label-list"><span class="label">설립일</span> 2025-03-12</li>
                                        <li class="label-list"><span class="label">사업내용</span> 헬스장</li>
                                        <li class="label-list"><span class="label">회사주소</span> 대전 동구 동서대로 1701</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 돌아가기 버튼 -->
                    <br>
                    <br>

                    <br>
                    <br>
                    <br>
                    <!-- 지원하기 버튼 -->
                    <div style="text-decoration: none" id="applyButton" class="fixed-apply" th:with="link=${pageRequestDTO.getLink()}">
                        <a href="#" class="btn btn-outline-primary" id="modifyBtn"><i class="bi bi-highlighter"></i></a>
                        <a href="#" class="btn btn-outline-danger" id="removeBtn"><i class="bi bi-trash"></i>️</a>
                        <a th:href="|@{/recruit/list}?${link}|" class="btn btn-outline-secondary">돌아가기</a>
                        <button class="btn btn-primary" id="applyBtn">지원하기</button>

                    </div>

            </form>


            <div class="modal fade" id="modifyModal" tabindex="-1" aria-labelledby="modifyModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modifyModalLabel">
                                <span class="rogo-span">OneFit</span> 채용 공고 수정 확인
                            </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body modify-modal-body">
                            <div class="mb-3">
                                <p>채용 공고를 수정하시겠습니까?</p>

                            </div>
                            <div class="tab-content mt-3">
                                <div class="d-flex flex-row-reverse">
                                    <div>
                                        <a href="#" class="btn btn-outline-secondary w-100 modal-btn" data-bs-dismiss="modal" id="confirmRegisterBtn1">아니오</a>
                                    </div>
                                    <div style="margin-right: 3px" th:with="link = ${pageRequestDTO.getLink()}">
                                        <a th:href="|@{/recruit/modify(recruitId=${dto.recruitId})}&${link}|" class="btn btn-primary w-100 modal-btn" id="confirmRegisterBtn">네</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="removeModal" tabindex="-1" aria-labelledby="removeModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="removeModalLabel">
                            <span class="rogo-span">OneFit</span> 채용 공고 삭제 확인
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body remove-modal-body">
                        <div class="mb-3">
                            <p>해당 공고를 정말 삭제하시겠습니까?</p>

                        </div>
                        <div class="tab-content mt-3">
                            <div class="d-flex flex-row-reverse">
                                <div>
                                    <a href="#" class="btn btn-outline-danger w-100 modal-btn" data-bs-dismiss="modal" id="confirmRegisterBtn2">아니오</a>
                                </div>
                                <div style="margin-right: 3px" th:with="link = ${pageRequestDTO.getLink()}">
                                    <a th:href="|@{/recruit/modify(recruitId=${dto.recruitId})}&${link}|" class="btn btn-danger w-100 modal-btn" id="confirmRemoveBtn">네</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- (거래) start -->
    <!-- 판매 게시판 -->
    <div layout:fragment="transa_list"></div>
    <!-- 기구 판매 게시글 (읽기) -->
    <div layout:fragment="transa_eq_read"></div>
    <!-- 시설 매매 게시글 (읽기) -->
    <div layout:fragment="transa_fa_read"></div>
    <!-- 기구 판매 게시글 (등록) -->
    <div layout:fragment="transa_eq_register"></div>
    <!-- 시설 매매 게시글 (등록) -->
    <div layout:fragment="transa_fa_register"></div>
    <!-- (거래) end -->


    <!--    테스트용-->
    <div layout:fragment="index"></div>
    <div layout:fragment="login"></div>
    <div layout:fragment="join"></div>
</main>
<!-- 메인 end  -->

<!--  회원가입 모달창 start -->
<div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="signupModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="signupModalLabel"> <span class="rogo-span">OneFit</span> 회원가입</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body signup-modal-body">
                <div class="tab-content mt-3 div-sign-login" id="signupTabContent">
                    <form id="registerForm" name="registerForm" action="/join" method="post">
                        <div class="mb-3">
                            <label for="name" class="form-label">이름</label>
                            <input type="text" class="form-control" name="name" id="name" placeholder="홍길동" required>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">이메일</label>
                            <input type="email" class="form-control" name="email" id="email" placeholder="ex) email@onefit.com"
                                   required>
                        </div>
                        <div class="mb-3">
                            <label for="allId" class="form-label">아이디</label>
                            <div class="input-group">
                                <input type="text" class="form-control" name="allId" id="allId"
                                       placeholder="3자 이상, 16자 이하의 영어 또는 숫자로 구성" required>
                                <button class="btn btn-outline-primary" type="button" id="check-username">
                                    중복 확인
                                </button>
                            </div>
                            <!-- 중복 확인 메시지 출력 공간 -->
                            <div id="username-feedback" class="mt-1 input-feedback text-danger">이미 사용 중인 아이디입니다.</div>
                            <!-- <div id="username-feedback" class="mt-1 input-feedback text-success">사용 가능한 아이디입니다.</div> -->
                        </div>
                        <div class="mb-3">
                            <label for="aPsw" class="form-label">비밀번호</label>
                            <input type="password" class="form-control" id="aPsw"
                                   placeholder="6자 이상, 16자 이하의 영어와 숫자의 조합으로 구성" required>
                        </div>
                        <div class="mb-3">
                            <label for="aPswCheck" class="form-label">비밀번호 확인</label>
                            <input type="password" class="form-control" name="aPsw" id="aPswCheck"
                                   placeholder="6자 이상, 16자 이하의 영어와 숫자의 조합으로 구성" required>
                            <!-- 비밀번호 확인 메시지 출력 공간 -->
                            <!-- <div id="password-feedback" class="mt-1 input-feedback text-danger">비밀번호가 일치하지 않습니다.</div> -->
                            <div id="password-feedback" class="mt-1 input-feedback text-success">비밀번호가 일치합니다.</div>
                        </div>
                        <div class="mb-3">
                            <label for="aPhone" class="form-label">전화번호</label>
                            <input type="tel" class="form-control" name="aPhone" id="aPhone" placeholder="ex) 010-1234-5678"
                                   required>
                        </div>
                        <input type="hidden" name="memberType" value="default">
                        <button type="submit" class="btn btn-success w-100 modal-btn"
                                id="signupButton">가입하기</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 회원가입 모달창 end -->

<!-- FontAwesome CDN (아이콘 사용을 위한 링크) -->
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<!-- bootstrap js -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="/js/basic.js"></script>
<!--<script src="/js/recruit/recruit_modify.js"></script>-->
<script layout:fragment="script" th:inline="javascript">
    const error = [[${error}]]

    if(error && error === 'allId'){
        alert("동일한 아이디를 가진 계정이 존재합니다.")
    }

    document.addEventListener("DOMContentLoaded", function () {
        const submitBtn = document.getElementById("modifyBtn");
        const modalTitle = document.getElementById("modifyModalLabel");
        const modalBody = document.querySelector(".modify-modal-body p");
        const deleteModal = new bootstrap.Modal(document.getElementById("modifyModal"));

        submitBtn.addEventListener("click", function (event) {
            event.preventDefault(); // 기본 폼 제출 방지

            // 모달 제목 및 내용 변경
            modalTitle.innerHTML = '<span class="rogo-span">OneFit</span> 등록 확인';

            // 삭제 확인 입력 필드 및 버튼 숨기기


            // 모달 열기
            deleteModal.show();
        });
    });

    document.addEventListener("DOMContentLoaded", function () {
        const submitBtn = document.getElementById("removeBtn");
        const modalTitle = document.getElementById("removeModalLabel");
        const modalBody = document.querySelector(".remove-modal-body p");
        const deleteModal = new bootstrap.Modal(document.getElementById("removeModal"));

        submitBtn.addEventListener("click", function (event) {
            event.preventDefault(); // 기본 폼 제출 방지

            deleteModal.show();
        });
    });

    const formObj = document.querySelector("#deleteForm")

    document.getElementById('confirmRemoveBtn').addEventListener('click', function(e) {
        e.preventDefault();
        e.stopPropagation();

        formObj.action = `/recruit/remove`;
        formObj.method = 'post';
        formObj.submit()
    },false);

</script>
</body>

<!-- footer -->
<th:block th:replace="foot/footer :: footer"></th:block>

</html>