<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">

<!-- 메인 start -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OneFit</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/basic.css">
</head>
    <div layout:fragment="main">
          <div class="container mt-5">
              <div>
                  <hr>
                  <div class="notice-container">
                      <div class="notice-text show">공지사항 > 시스템 점검 예정입니다.</div>
                      <div class="notice-text">공지사항 > 이벤트가 곧 시작됩니다!</div>
                      <div class="notice-text">공지사항 > 새로운 기능이 추가되었습니다!</div>
                  </div>
                  <hr>
              </div>

              <div class="container mt-5">
                  <!-- 헤더 -->
                  <div class="d-flex align-items-center justify-content-between mb-3">
                      <h2>채용 소식</h2>
                      <a href="/recruit/list" style="text-decoration: none; color: black;">전체보기 ></a>
                  </div>

                  <!-- 캐러셀 -->
<!--                  <div id="announcementCarousel" class="carousel slide" data-ride="carousel">-->
<!--                      <div class="carousel-inner" id="announcementItems">-->
<!--                          &lt;!&ndash; 첫 슬라이드 &ndash;&gt;-->
<!--                          <div class="carousel-item active">-->
<!--                              <div class="card-deck" th:with="link = ${pageRequestDTO.getLink()}">-->
<!--                                  <div class="card" th:each="dto : ${firstSlide.dtoList}">-->
<!--                                      <div class="photo-card" th:if="${dto.fileNames != null and !#lists.isEmpty(dto.fileNames)}">-->
<!--                                          <div th:each="fileName, iterStat : ${dto.fileNames}">-->
<!--                                              <div th:if="${iterStat.index == 0}">-->
<!--                                                  <img th:src="|/view_recruit/${fileName}|" class="img-fluid gallery-item">-->
<!--                                                  <div class="overlay d-flex flex-column justify-content-center align-items-center text-center gap-1"-->
<!--                                                       style="background: rgba(0, 0, 0, 0.4); backdrop-filter: blur(4px); border-radius: 1rem; padding: 1.5rem;">-->

<!--                                                      <a class="photo-title"-->
<!--                                                         th:href="|@{/recruit/read(recruitId=${dto.recruitId})}&${link}|"-->
<!--                                                         style="font-size: 1.2rem; font-weight: 700; color: #fff; text-decoration: none; transition: color 0.3s ease;">-->
<!--                                                          [[${dto.reTitle}]]-->
<!--                                                      </a>-->
<!--                                                      <div>-->
<!--                                                          <span class="photo-text"-->
<!--                                                                style="font-size: 1rem; color: #f0f0f0; margin-bottom: 2px;">[[${dto.reCompany}]]</span>-->
<!--                                                          <br>-->
<!--                                                          <span class="photo-text"-->
<!--                                                             style="font-size: 0.9rem; color: #dcdcdc; font-weight: 300; margin-top: 0;">[[${dto.reIndustry}]]</span>-->
<!--                                                      </div>-->

<!--                                                  </div>-->
<!--                                              </div>-->
<!--                                          </div>-->

<!--                                      </div>-->
<!--                                  </div>-->
<!--                              </div>-->
<!--                          </div>-->

<!--                          &lt;!&ndash; 두 번째 슬라이드 &ndash;&gt;-->
<!--                          <div class="carousel-item">-->
<!--                              <div class="card-deck" th:with="link = ${pageRequestDTO.getLink()}">-->
<!--                                  <div class="card" th:each="dto : ${secondSlide.dtoList}">-->
<!--                                      <div class="photo-card" th:if="${dto.fileNames != null and !#lists.isEmpty(dto.fileNames)}">-->
<!--                                          <div th:each="fileName, iterStat : ${dto.fileNames}">-->
<!--                                              <div th:if="${iterStat.index == 0}">-->
<!--                                                  <img th:src="|/view_recruit/${fileName}|" class="img-fluid gallery-item">-->
<!--                                                  <div class="overlay d-flex flex-column justify-content-center align-items-center text-center gap-1"-->
<!--                                                       style="background: rgba(0, 0, 0, 0.4); backdrop-filter: blur(4px); border-radius: 1rem; padding: 1.5rem;">-->

<!--                                                      <a class="photo-title"-->
<!--                                                         th:href="|@{/recruit/read(recruitId=${dto.recruitId})}&${link}|"-->
<!--                                                         style="font-size: 1.2rem; font-weight: 700; color: #fff; text-decoration: none; transition: color 0.3s ease;">-->
<!--                                                          [[${dto.reTitle}]]-->
<!--                                                      </a>-->
<!--                                                      <div>-->
<!--                                                          <span class="photo-text"-->
<!--                                                                style="font-size: 1rem; color: #f0f0f0; margin-bottom: 2px;">[[${dto.reCompany}]]</span>-->
<!--                                                          <br>-->
<!--                                                          <span class="photo-text"-->
<!--                                                                style="font-size: 0.9rem; color: #dcdcdc; font-weight: 300; margin-top: 0;">[[${dto.reIndustry}]]</span>-->
<!--                                                      </div>-->

<!--                                                  </div>-->
<!--                                              </div>-->
<!--                                          </div>-->
<!--                                      </div>-->
<!--                                  </div>-->
<!--                              </div>-->
<!--                          </div>-->
<!--                      </div>-->

<!--                      &lt;!&ndash; 캐러셀 버튼 &ndash;&gt;-->
<!--                      <a class="carousel-control-prev" href="#announcementCarousel" role="button" data-slide="prev">-->
<!--                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
<!--                          <span class="sr-only">이전</span>-->
<!--                      </a>-->
<!--                      <a class="carousel-control-next" href="#announcementCarousel" role="button" data-slide="next">-->
<!--                          <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
<!--                          <span class="sr-only">다음</span>-->
<!--                      </a>-->
<!--                  </div>-->
<!--              </div>-->


<!--              <br>-->
<!--              <br>-->
<!--              <br>-->
<!--        </div>-->
<!--        <hr>-->
<!--        <div class="container mt-5">-->
<!--            &lt;!&ndash; 헤더 &ndash;&gt;-->
<!--            <div class="d-flex align-items-center justify-content-between mb-3">-->
<!--                <h2>강사 소식</h2>-->
<!--                <a href="/trainer/trainer_list" style="text-decoration: none; color: black;">전체보기 ></a>-->
<!--            </div>-->

<!--            &lt;!&ndash; 캐러셀 &ndash;&gt;-->
<!--            <div id="trainerCarousel" class="carousel slide" data-ride="carousel">-->
<!--                <div class="carousel-inner" id="trainerItems">-->
<!--                    &lt;!&ndash; 첫 슬라이드 &ndash;&gt;-->
<!--                    <div class="carousel-item active">-->
<!--                        <div class="card-deck" th:with="link = ${pageRequestDTO.getLink()}">-->
<!--                            <div class="card" th:each="dto : ${responseDTO.dtoList}">-->
<!--                                <div class="photo-card" th:if="${dto.fileNames != null and !#lists.isEmpty(dto.fileNames)}">-->
<!--                                    <div th:each="fileName, iterStat : ${dto.fileNames}">-->
<!--                                        <div th:if="${iterStat.index == 0}">-->
<!--                                            <img th:src="|/view_recruit/${fileName}|" class="img-fluid gallery-item">-->
<!--                                            <div class="overlay d-flex flex-column justify-content-center align-items-center">-->
<!--                                                <a class="photo-title" th:href="|@{/recruit/read(recruitId=${dto.recruitId})}&${link}|">[[${dto.reTitle}]]</a>-->
<!--                                                <p class="photo-text" hidden>[[${dto.recruitId}]]</p>-->
<!--                                                <p class="photo-text">[[${dto.reCompany}]]</p>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    &lt;!&ndash; 두 번째 슬라이드 &ndash;&gt;-->
<!--                    <div class="carousel-item">-->
<!--                        <div class="card-deck" th:with="link = ${pageRequestDTO.getLink()}">-->
<!--                            <div class="card" th:each="dto : ${responseDTO.dtoList}">-->
<!--                                <div class="photo-card" th:if="${dto.fileNames != null and !#lists.isEmpty(dto.fileNames)}">-->
<!--                                    <div th:each="fileName, iterStat : ${dto.fileNames}">-->
<!--                                        <div th:if="${iterStat.index == 0}">-->
<!--                                            <img th:src="|/view_recruit/${fileName}|" class="img-fluid gallery-item">-->
<!--                                            <div class="overlay d-flex flex-column justify-content-center align-items-center">-->
<!--                                                <a class="photo-title" th:href="|@{/recruit/read(recruitId=${dto.recruitId})}&${link}|">[[${dto.reTitle}]]</a>-->
<!--                                                <p class="photo-text" hidden>[[${dto.recruitId}]]</p>-->
<!--                                                <p class="photo-text">[[${dto.reCompany}]]</p>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

<!--                &lt;!&ndash; 캐러셀 컨트롤 &ndash;&gt;-->
<!--                <a class="carousel-control-prev" href="#trainerCarousel" role="button" data-slide="prev">-->
<!--                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
<!--                    <span class="sr-only">이전</span>-->
<!--                </a>-->
<!--                <a class="carousel-control-next" href="#trainerCarousel" role="button" data-slide="next">-->
<!--                    <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
<!--                    <span class="sr-only">다음</span>-->
<!--                </a>-->
<!--            </div>-->
        </div>
        <br>
        <br>
        <br>

    </div>
    <!-- 메인 end  -->

</html>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>