<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OneFit - 체육시설업 포털</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/basic.css">
</head>

<body>
    <!-- 헤더 start -->
    <header>
        <!-- 메인 메뉴 -->
        <div class="nav-container">
            <!-- 로고 -->
            <a class="navbar-brand me-auto" href="index.html">OneFit</a>

            <!-- 메인 메뉴(채용정보, 강사찾기, 거래, 커뮤니티) -->
            <ul class="nav mx-auto">
                <span class="slash slash-left">/</span>
                <li class="nav-item"><a class="nav-link" href="recruit_list.html">채용정보</a></li>
                <li class="nav-item"><a class="nav-link" href="trainer_list.html">강사찾기</a></li>
                <li class="nav-item dropdown dropdown-main">
                    <a class="nav-link dropdown-toggle" href="#" id="tradeDropdown" role="button"
                        data-bs-toggle="dropdown">거래</a>
                    <ul class="dropdown-menu dropdown-main-menu">
                        <li><a class="dropdown-item" href="#">시설</a></li>
                        <li><a class="dropdown-item" href="#">기구</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown dropdown-main">
                    <a class="nav-link dropdown-toggle" href="#" id="communityDropdown" role="button"
                        data-bs-toggle="dropdown">커뮤니티</a>
                    <ul class="dropdown-menu dropdown-main-menu">
                      <li><a class="dropdown-item" href="board_qa_list.html">Q&A</a></li>
                      <li><a class="dropdown-item" href="board_notice_list.html">공지사항</a></li>
                    </ul>
                </li>
                <span class="slash slash-right">/</span>
            </ul>

            <!-- 사이드 메뉴(로그인, 회원가입 / 로그아웃, 마이페이지, 알림) -->
            <div class="auth-links ms-auto">
                <!-- 로그인 전 메뉴 -->
                <button type="button" class="basic-btn btn btn-primary btns" data-bs-toggle="modal"
                    data-bs-target="#loginModal">
                    로그인
                </button>
                <span class="separator">|</span>
                <button type="button" class="basic-btn btn btn-primary btns" data-bs-toggle="modal"
                    data-bs-target="#signupModal">
                    회원가입
                </button>

                <!-- 로그인 후 메뉴 -->
                <!-- <button type="button" class="basic-btn btn btn-primary btns" data-bs-toggle="modal" data-bs-target="#logoutModal">
                    로그아웃
                </button>
                <span class="separator">|</span>
                <button type="button" class="basic-btn btn btn-primary btns" data-bs-toggle="modal">
                    마이페이지
                </button> -->

                <!-- 알림 start -->
                <div class="dropdown">
                    <button class="signal-btn btn btn-light position-relative" type="button" id="notificationDropdown"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-bell"></i>
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                            3
                        </span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="notificationDropdown">
                        <li>
                            <h6 class="dropdown-header">알림</h6>
                        </li>
                        <li><a class="dropdown-item" href="#">📢 새로운 공지가 있습니다.</a></li>
                        <li><a class="dropdown-item" href="#">📩 새로운 메시지가 도착했습니다.</a></li>
                        <li><a class="dropdown-item" href="#">✔️ 회원 가입이 완료되었습니다.</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item text-center" href="#">모두 보기</a></li>
                    </ul>
                </div>
                <!-- 알림 end -->
            </div>
        </div>
    </header>
    <!-- 헤더 end -->

    <!-- 메인 start -->
    <main>
      <!-- 채용공고 컨텐츠 -->
      <div class="container mt-4">
        <!-- 검색 필터 -->
        <form>
          <div class="row mb-3">
            <div class="col-md-2">
              <label for="experience" class="form-label">경력 선택</label>
              <select id="experience" class="form-select">
                  <option selected>전체</option>
                  <option>신입</option>
                  <option>1년</option>
                  <option>3년</option>
                  <option>5년 이상</option>
              </select>
            </div>
            <div class="col-md-2">
                <label for="education" class="form-label">학력 선택</label>
                <select id="education" class="form-select">
                    <option selected>전체</option>
                    <option>고졸</option>
                    <option>대졸</option>
                    <option>석사 이상</option>
                </select>
            </div>
          </div>
          <div class="row mb-3">
              <div class="col-md-3">
                <label for="region" class="form-label">지역 선택</label>
                <select id="region" class="form-select">
                    <option selected>수원시 영통구</option>
                    <option>서울특별시</option>
                    <option>부산광역시</option>
                </select>
            </div>
            <div class="col-md-3">
                <label for="job" class="form-label">직업 선택</label>
                <select id="job" class="form-select">
                    <option selected>전체</option>
                    <option>IT/개발</option>
                    <option>마케팅</option>
                </select>
            </div>
            <div class="col-md-6">
                <label for="search" class="form-label">검색어 입력</label>
                <input type="text" id="search" class="form-control" placeholder="검색어 입력">
            </div>
          </div>
        </form>
        <hr style="margin-top: 50px; margin-bottom: 50px;">
        <!-- 채용 공고 리스트 -->
        
        <div class="d-flex justify-content-between align-items-center mb-4">
          <h2 style="margin-bottom: 50px;">전체 채용정보 <span class="text-primary">1,513건</span></h2>
          <a href="recruit_register.html" class="btn btn-primary btn-lg">공고등록 +</a>
        </div>          
        <table class="table table-hover">
          <thead>
              <tr style="height: 60px; text-align: center;">
                  <th valign="middle">회사명</th>
                  <th valign="middle">채용 공고</th>
                  <th valign="middle">직종</th>
                  <th valign="middle">근무지역</th>
                  <th valign="middle">경력</th>
                  <th valign="middle">마감일</th>
                  <th valign="middle"></th>
              </tr>
          </thead>
          <tbody>
              <tr class="recurit-post">
                  <td valign="middle">(주)일텍오토메이션</td>
                  <td valign="middle"><a href="recruit_read.html">개발 신입/경력 모집</a></td>
                  <td valign="middle">백엔드/서버개발</td>
                  <td valign="middle">경기 수원시 영통구</td>
                  <td valign="middle">신입·경력</td>
                  <td valign="middle">~04.04(금)</td>
                  <td valign="middle"><button class="btn btn-outline-danger">입사지원</button></td>
              </tr>
              <tr class="recurit-post">
                <td valign="middle">(주)일텍오토메이션</td>
                <td valign="middle">비전S/W개발 신입/경력 모집</td>
                <td valign="middle">백엔드/서버개발</td>
                <td valign="middle">경기 수원시 영통구</td>
                <td valign="middle">신입·경력</td>
                <td valign="middle">~04.04(금)</td>
                <td valign="middle"><button class="btn btn-outline-danger">입사지원</button></td>
              </tr>
              <tr class="recurit-post">
                <td valign="middle">(주)일텍오토메이션</td>
                <td valign="middle">비전S/W개발 신입/경력 모집</td>
                <td valign="middle">백엔드/서버개발</td>
                <td valign="middle">경기 수원시 영통구</td>
                <td valign="middle">신입·경력</td>
                <td valign="middle">~04.04(금)</td>
                <td valign="middle"><button class="btn btn-outline-danger">입사지원</button></td>
              </tr>
              <tr class="recurit-post">
                <td valign="middle">(주)일텍오토메이션</td>
                <td valign="middle">비전S/W개발 신입/경력 모집</td>
                <td valign="middle">백엔드/서버개발</td>
                <td valign="middle">경기 수원시 영통구</td>
                <td valign="middle">신입·경력</td>
                <td valign="middle">~04.04(금)</td>
                <td valign="middle"><button class="btn btn-outline-danger">입사지원</button></td>
              </tr>
              <tr class="recurit-post">
                <td valign="middle">(주)일텍오토메이션</td>
                <td valign="middle">비전S/W개발 신입/경력 모집</td>
                <td valign="middle">백엔드/서버개발</td>
                <td valign="middle">경기 수원시 영통구</td>
                <td valign="middle">신입·경력</td>
                <td valign="middle">~04.04(금)</td>
                <td valign="middle"><button class="btn btn-outline-danger">입사지원</button></td>
              </tr>
              <tr class="recurit-post">
                <td valign="middle">(주)일텍오토메이션</td>
                <td valign="middle">비전S/W개발 신입/경력 모집</td>
                <td valign="middle">백엔드/서버개발</td>
                <td valign="middle">경기 수원시 영통구</td>
                <td valign="middle">신입·경력</td>
                <td valign="middle">~04.04(금)</td>
                <td valign="middle"><button class="btn btn-outline-danger">입사지원</button></td>
              </tr>
              <tr class="recurit-post">
                <td valign="middle">(주)일텍오토메이션</td>
                <td valign="middle">비전S/W개발 신입/경력 모집</td>
                <td valign="middle">백엔드/서버개발</td>
                <td valign="middle">경기 수원시 영통구</td>
                <td valign="middle">신입·경력</td>
                <td valign="middle">~04.04(금)</td>
                <td valign="middle"><button class="btn btn-outline-danger">입사지원</button></td>
              </tr>
              <tr class="recurit-post">
                <td valign="middle">(주)일텍오토메이션</td>
                <td valign="middle">비전S/W개발 신입/경력 모집</td>
                <td valign="middle">백엔드/서버개발</td>
                <td valign="middle">경기 수원시 영통구</td>
                <td valign="middle">신입·경력</td>
                <td valign="middle">~04.04(금)</td>
                <td valign="middle"><button class="btn btn-outline-danger">입사지원</button></td>
              </tr>
              <tr class="recurit-post">
                <td valign="middle">(주)일텍오토메이션</td>
                <td valign="middle">비전S/W개발 신입/경력 모집</td>
                <td valign="middle">백엔드/서버개발</td>
                <td valign="middle">경기 수원시 영통구</td>
                <td valign="middle">신입·경력</td>
                <td valign="middle">~04.04(금)</td>
                <td valign="middle"><button class="btn btn-outline-danger">입사지원</button></td>
              </tr>
              <tr class="recurit-post">
                <td valign="middle">(주)일텍오토메이션</td>
                <td valign="middle">비전S/W개발 신입/경력 모집</td>
                <td valign="middle">백엔드/서버개발</td>
                <td valign="middle">경기 수원시 영통구</td>
                <td valign="middle">신입·경력</td>
                <td valign="middle">~04.04(금)</td>
                <td valign="middle"><button class="btn btn-outline-danger">입사지원</button></td>
              </tr>
              <tr class="recurit-post">
                <td valign="middle">(주)일텍오토메이션</td>
                <td valign="middle">비전S/W개발 신입/경력 모집</td>
                <td valign="middle">백엔드/서버개발</td>
                <td valign="middle">경기 수원시 영통구</td>
                <td valign="middle">신입·경력</td>
                <td valign="middle">~04.04(금)</td>
                <td valign="middle"><button class="btn btn-outline-danger">입사지원</button></td>
              </tr>

          </tbody>
        </table>
      </div>

    </main>
    <!-- 메인 end  -->

    <!-- 푸터 start -->
    <footer class="bg-dark text-white py-4">
        <div class="container">
            <div class="row">
                <!-- 회사 정보 -->
                <div class="col-md-3 mb-3">
                    <h5>회사 정보</h5>
                    <ul class="list-styled">
                        <li><a href="#" class="text-white">회사 소개</a></li>
                        <li><a href="#" class="text-white">채용 정보</a></li>
                        <li><a href="#" class="text-white">서비스 이용약관</a></li>
                        <li><a href="#" class="text-white">개인정보 처리방침</a></li>
                    </ul>
                </div>

                <!-- 고객 지원 -->
                <div class="col-md-3 mb-3">
                    <h5>고객 지원</h5>
                    <ul class="list-styled">
                        <li><a href="#" class="text-white">FAQ</a></li>
                        <li><a href="#" class="text-white">고객센터</a></li>
                        <li><a href="#" class="text-white">1:1 문의</a></li>
                    </ul>
                </div>

                <!-- 소셜 미디어 -->
                <div class="col-md-3 mb-3">
                    <h5>소셜 미디어</h5>
                    <ul class="list-unstyled d-flex">
                        <li><a href="#" class="text-white me-3"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="#" class="text-white me-3"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#" class="text-white me-3"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="#" class="text-white me-3"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>

                <!-- 뉴스레터 구독 -->
                <div class="col-md-3 mb-3">
                    <h5>뉴스레터 구독</h5>
                    <form>
                        <div class="input-group">
                            <input type="email" class="form-control" placeholder="이메일을 입력하세요" required>
                            <button class="btn btn-primary" type="submit">구독</button>
                        </div>
                    </form>
                </div>
            </div>

            <hr class="bg-white">

            <div class="row">
                <div class="col text-center">
                    <p>&copy; 2025 OneFit. 모든 권리 보유.</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- 푸터 end -->


    <!--  회원가입 모달창 start -->
    <div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="signupModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="signupModalLabel"> <span class="rogo-span">OneFit</span> 회원가입</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body signup-modal-body">
                    <div class="tab-content mt-3 div-sign-login" id="signupTabContent">
                        <form>
                            <div class="mb-3">
                                <label for="name" class="form-label">이름</label>
                                <input type="text" class="form-control" id="name" placeholder="홍길동" required>
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">이메일</label>
                                <input type="email" class="form-control" id="email" placeholder="ex) email@onefit.com"
                                    required>
                            </div>
                            <div class="mb-3">
                                <label for="username" class="form-label">아이디</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="username"
                                        placeholder="3자 이상, 16자 이하의 영어 또는 숫자로 구성" required>
                                    <button class="btn btn-outline-primary" type="button" id="check-username">
                                        중복 확인
                                    </button>
                                </div>
                                <!-- 중복 확인 메시지 출력 공간 -->
                                <div id="username-feedback" class="mt-1 input-feedback text-danger">이미 사용 중인 아이디입니다.</div>
                                <!-- <div id="username-feedback" class="mt-1 input-feedback text-success">사용 가능한 아이디입니다.</div> -->
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">비밀번호</label>
                                <input type="password" class="form-control" id="password"
                                    placeholder="6자 이상, 16자 이하의 영어와 숫자의 조합으로 구성" required>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">비밀번호 확인</label>
                                <input type="password" class="form-control" id="password"
                                    placeholder="6자 이상, 16자 이하의 영어와 숫자의 조합으로 구성" required>
                                <!-- 비밀번호 확인 메시지 출력 공간 -->
                                <!-- <div id="password-feedback" class="mt-1 input-feedback text-danger">비밀번호가 일치하지 않습니다.</div> -->
                                <div id="password-feedback" class="mt-1 input-feedback text-success">비밀번호가 일치합니다.</div>
                            </div>
                            <div class="mb-3">
                                <label for="phone" class="form-label">전화번호</label>
                                <input type="tel" class="form-control" id="phone" placeholder="ex) 010-1234-5678"
                                    required>
                            </div>
                            <button type="submit" class="btn btn-success w-100 modal-btn"
                                id="signupButton">가입하기</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 회원가입 모달창 end -->

    <!-- 로그인 모달창 start -->
    <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginModalLabel"> <span class="rogo-span">OneFit</span> 로그인</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- 일반 로그인 -->
                    <div class="div-sign-login" id="generalLogin">
                        <form>
                            <div class="mb-3">
                                <label for="username" class="form-label">아이디</label>
                                <input type="text" class="form-control" id="username" placeholder="아이디를 입력하세요" required>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">비밀번호</label>
                                <input type="password" class="form-control" id="password" placeholder="비밀번호를 입력하세요"
                                    required>
                            </div>
                            <button type="submit" class="btn btn-success w-100 modal-btn" id="loginButton">
                                로그인
                            </button>
                        </form>
                        <!-- 소셜 로그인 -->
                        <div class="login-container">
                            <div class="text-center my-3">
                                <hr class="line">
                                <span class="hr-text">소셜 계정으로 간편 로그인</span>
                                <hr class="line">
                            </div>
                            <div class="social-login-buttons">
                                <button class="social-btn google-btn">
                                    <img src="img/google_rogo.png" alt="Google Logo">
                                </button>
                                <button class="social-btn kakao-btn">
                                    <i class="fas fa-comment kakao-rogo"></i>
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- 로그인 모달창 end -->

    <!-- FontAwesome CDN (아이콘 사용을 위한 링크) -->
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <!-- bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>