<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/myPage.html}">

<div layout:fragment="my_business_page_recruit">
    <!-- 메인 콘텐츠 -->
    <div class="col-md-9 main-content">

        <!-- 탭 메뉴 -->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="support-tab" data-bs-toggle="tab" href="#support" role="tab"
                   aria-controls="support" aria-selected="true">
                    <i class="fas fa-briefcase"></i> 내가 올린 공고
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="proposal-tab" data-bs-toggle="tab" href="#proposal" role="tab"
                   aria-controls="proposal" aria-selected="false">
                    <i class="fas fa-bell"></i> 이력서 지원 현황
                </a>
            </li>
        </ul>

        <!-- 탭 콘텐츠 -->
        <div class="tab-content" id="myTabContent">
            <!-- 내가 올린 공고 탭 -->
            <div class="tab-pane fade show active" id="support" role="tabpanel" aria-labelledby="support-tab">
                <div class="card" th:if="${recruitDTOList.isEmpty()}">
                    <div class="card-body card-columns d-flex justify-content-center align-items-center">
                        <h2><br><br>공고가 없습니다.<br><br><br></h2>
                    </div>
                </div>
                <div class="card" th:if="${!recruitDTOList.isEmpty()}">
                    <div class="card-body card-columns">
                        <!-- 카드 1 -->
                        <th:block th:each="recruits : ${recruitDTOList}">
                            <div class="card">
                                <div class="card-header d-flex justify-content-between align-items-center">
                                    <div><i class="fas fa-user-circle"></i> <span th:text="|${recruits.reAdminName} 공고|"></span></div>
                                    <div><a type="button" class="product-btn btn btn-primary w-30" th:href="|@{/recruit/read}?recruitId=${recruits.recruitId}&page=1&size=1|">
                                        공고 확인하기</a></div>
                                </div>
                                <div class="card-body d-flex align-items-center">
                                    <div>
                                        <p><strong>공고제목 : </strong> <span th:text="${recruits.reTitle}"></span></p>
                                        <p><strong>작성일 : </strong> <span th:text="${#temporals.format(recruits.regDate, 'yyyy-MM-dd HH:mm')}"></span></p>
                                        <p><strong>마감일 : </strong> <span th:text="${#temporals.format(recruits.reDeadline, 'yyyy-MM-dd HH:mm')}"></span></p>
                                    </div>
                                </div>
                            </div>
                        </th:block>
                    </div>
                </div>
            </div>
            <!-- 공사중 -->
            <div class="tab-pane fade" id="proposal" role="tabpanel" aria-labelledby="proposal-tab">
                <div class="container my-5">
                    <div class="card shadow-sm border-0 rounded-4">
                        <div class="card-header bg-primary text-white rounded-top-4">
                            <h2 class="mb-0">지원 현황</h2>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover align-middle">
                                    <thead class="table-light">
                                    <tr>
                                        <th scope="col">순번</th>
                                        <th scope="col">이력서 제목</th>
                                        <th scope="col">지원 날짜</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <!-- 타임리프를 사용하여 데이터 출력 -->
                                    <tr th:each="apply, stat : ${recruitApplyDTOS}">
                                        <td th:text="${stat.index + 1}"></td> <!-- 순번 -->
                                        <td>
                                            <a class="text-decoration-none fw-semibold text-primary"
                                               th:href="|@{/trainer/trainer_view(tid=${trainerDTO.trainerId})}|">
                                                [[${trainerDTO.title}]]
                                            </a>
                                        </td>
                                        <td th:text="${#temporals.format(apply.regDate, 'yyyy-MM-dd HH:mm')}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <br>
            </div>
        </div>
    </div>
</div>
<script src="/js/member/kakaoMap.js"></script>
<script src="/js/member/businessRegistrationNumber.js"></script>