<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/myPage.html}">

<div layout:fragment="my_business_page_recruit">
    <!-- 메인 콘텐츠 -->
    <div class="col-md-9 main-content">

        <!-- 탭 메뉴 -->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="support-tab" data-bs-toggle="tab" href="#support" role="tab"
                   aria-controls="support" aria-selected="true">
                    <i class="fas fa-briefcase"></i> 내가 올린 공고
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="proposal-tab" data-bs-toggle="tab" href="#proposal" role="tab"
                   aria-controls="proposal" aria-selected="false">
                    <i class="fas fa-bell"></i> 공사중
                </a>
            </li>
        </ul>

        <!-- 탭 콘텐츠 -->
        <div class="tab-content" id="myTabContent">
            <!-- 회원 정보 탭 -->
            <div class="tab-pane fade show active" id="support" role="tabpanel" aria-labelledby="support-tab">
                <div class="card">
                    <div class="card-body card-columns">
                        <!-- 카드 1 -->
                        <th:block th:each="recruit : ${recruitDTOList}">
                            <div class="card">
                                <div class="card-header">
                                    <i class="fas fa-user-circle"></i> <span th:text="${recruit.recruitId}"></span>
                                </div>
                                <div class="card-body d-flex align-items-center">
                                    <div>
                                        <p><strong>기업이름:</strong> <span th:text="${recruit.recruitId}"></span></p>
                                        <p><strong>대표자:</strong> <span th:text="${recruit.recruitId}"></span></p>
                                        <p><strong>사업자번호:</strong> <span th:text="${recruit.recruitId}"></span></p>
                                        <p><strong>설립일:</strong> <span th:text="${#temporals.format(recruit.reDeadline, 'yyyy-MM-dd')}"></span></p>
                                        <p><strong>이메일:</strong> <span th:text="${recruit.recruitId}"></span></p>
                                        <p><strong>주소:</strong> <span th:text="${recruit.recruitId}"></span><br>
                                        <p><strong>전화번호:</strong> <span th:text="${recruit.recruitId}"></span></p>
                                        <p><strong>홈페이지:</strong> <span th:text="${recruit.recruitId}"></span></p>
                                    </div>
                                </div>
                            </div>
                        </th:block>
                    </div>
                </div>
            </div>

            <!-- 공사중 -->
            <div class="tab-pane fade" id="proposal" role="tabpanel" aria-labelledby="proposal-tab">
                <div class="container mt-5">
                    <div class="post-container">
                        <form method="post" action="/member/my_business_page">
                            <div class="form-section">
                                <h5 class="product-h5">기업 정보</h5>
                                <hr>
                                <div>
                                    <!--                                    숨김정보-->
                                    <input type="hidden" name="businessId" th:value="${business_memberDTO.businessId}">
                                    <input type="hidden" name="bRegNum" th:value="${business_memberDTO.bRegNum}">
                                    <input type="hidden" name="allId" th:value="${business_memberDTO.allId}">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">기업이름</label>
                                    <input type="text" class="form-control" name="bName" th:value="${business_memberDTO.bName}"
                                           required>
                                </div> <br>
                                <div class="mb-3">
                                    <label class="form-label">대표자</label>
                                    <input type="text" class="form-control" name="bExponent" th:value="${business_memberDTO.bExponent}"
                                           required>
                                </div> <br>
                                <div class="mb-3">
                                    <label class="form-label">설립일</label>
                                    <input type="date" class="form-control" name="bEstaDate" th:value="${#temporals.format(business_memberDTO.bEstaDate, 'yyyy-MM-dd')}"
                                           readonly>
                                </div> <br>
                                <div class="mb-3">
                                    <label class="form-label">기업 주소</label>
                                    <div id="kakaoMap" style="width:500px;height:400px;"></div>
                                    <input type="text" class="kakaoAddress" placeholder="주소를 입력하세요"/>
                                    <div>
                                        <button type="button" class="searchAddress">위치 찾기</button>
                                        <button type="button" id="getAddress">주소 적용</button>
                                    </div>
                                    <input type="text" class="form-control" id="addressInput" name="bAddress" th:value="${business_memberDTO.bAddress}" required>
                                    <input type="text" class="form-control" name="bAddressExtra" th:value="${business_memberDTO.bAddressExtra}">

                                </div> <br>
                                <div class="mb-3">
                                    <label class="form-label">전화번호</label>
                                    <input type="text" class="form-control" name="bPhone" th:value="${business_memberDTO.bPhone}"
                                           required>
                                </div> <br>
                                <div class="mb-3">
                                    <label class="form-label">홈페이지</label>
                                    <input type="text" class="form-control" name="bHomepage" th:value="${business_memberDTO.bHomepage}" placeholder="기업 홈페이지">
                                </div> <br>
                                <hr>
                                <div class="mb-3">
                                    <label class="form-label">근로자 수</label>
                                    <input type="text" class="form-control" name="bEmployees" th:value="${business_memberDTO.bEmployees}" placeholder="특수문자 없이 기입">
                                </div> <br>
                                <div class="mb-3">
                                    <label class="form-label">평균 매출액</label>
                                    <input type="text" class="form-control" name="bAverage" th:value="${business_memberDTO.bAverage}" placeholder="특수문자 없이 기입">
                                </div> <br>
                                <div class="mb-3">
                                    <label class="form-label">자산 총액</label>
                                    <input type="text" class="form-control" name="bAssets" th:value="${business_memberDTO.bAssets}" placeholder="특수문자 없이 기입">
                                </div> <br>
                            </div>

                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <button type="submit" class="product-btn btn btn-primary w-100">수정
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/member/kakaoMap.js"></script>
<script src="/js/member/businessRegistrationNumber.js"></script>