<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/myPage.html}">

<div layout:fragment="my_board">
    <div class="container mt-5">
        <h2 class="text-primary mb-4">내가 쓴 게시글</h2>

        <!-- 공지사항 테이블 -->
        <div th:if="${allBoardDTO == null}">
            <br><br>
            <h2>올린 게시글이 없습니다.</h2><br><br>
        </div>
        <table class="table table-hover align-middle" th:if="${allBoardDTO != null}">
            <thead>
            <tr>
                <th style="width: 30%;">제목</th>
                <th style="width: 10%;">작성일</th>
                <th style="width: 10%;">수정일</th>
            </tr>
            </thead>
            <tbody id="noticeTable">
            <tr th:each="allBoardDTO : ${allBoardDTO}">

<!--                notice board-->
                    <tr th:if="${allBoardDTO.noticeBoardDTO != null}"
                    th:each="noticeDTO : ${allBoardDTO.noticeBoardDTO}">
                        <td>
                      <span class="ms-2">
                          <span>공지사항</span>
                      </span>
                            <div>
                                <a th:href="|@{/zboard/board_notice_read(noticeId=${noticeDTO.noticeId})}|"
                                   th:text="${noticeDTO.nTitle}"></a>
                            </div>
                        </td>
                        <td>작성일 [[${#temporals.format(noticeDTO.regDate, 'yyyy-MM-dd')}]]</td>
                        <td>수정일 [[${#temporals.format(noticeDTO.modDate, 'yyyy-MM-dd')}]]</td>
                    </tr>

<!--                qna board-->
                    <tr th:if="${allBoardDTO.qnaBoardDTO != null}"
                        th:each="qnaDTO : ${allBoardDTO.qnaBoardDTO}">
                        <td>
                      <span class="ms-2">
                          <span>QNA</span>
                      </span>
                            <div>
                                <a th:href="|@{/zboard/board_qa_read(qnaId=${qnaDTO.qnaId})}|"
                                   th:text="${qnaDTO.qTitle}"></a>
                            </div>
                        </td>
                        <td>작성일 [[${#temporals.format(qnaDTO.regDate, 'yyyy-MM-dd')}]]</td>
                        <td>수정일 [[${#temporals.format(qnaDTO.modDate, 'yyyy-MM-dd')}]]</td>
                    </tr>

            </tr>
            </tbody>
        </table>
    </div>

    <!-- 임시 -->
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            let pagination = document.getElementById("pagination");

            // 1~10 페이지 버튼 추가
            for (let i = 1; i <= 5; i++) {
                let li = document.createElement("li");
                li.className = "page-item";

                let a = document.createElement("a");
                a.className = "page-link";
                a.innerText = i;

                li.appendChild(a);

                // 이전 버튼 뒤에 추가 (0번 인덱스는 '이전' 버튼)
                pagination.insertBefore(li, pagination.children[pagination.children.length - 1]);
            }
        });
    </script>
</div>

</html>