<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/myPage.html}">

<div layout:fragment="my_default_page">
            <!-- 메인 콘텐츠 -->
            <div class="col-md-9 main-content">

                <!-- 탭 메뉴 -->
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="support-tab" data-bs-toggle="tab" href="#support" role="tab"
                           aria-controls="support" aria-selected="true">
                            <i class="fas fa-briefcase"></i> 회원 정보
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="proposal-tab" data-bs-toggle="tab" href="#proposal" role="tab"
                           aria-controls="proposal" aria-selected="false">
                            <i class="fas fa-bell"></i> 회원 정보 수정
                        </a>
                    </li>
                </ul>

                <!-- 탭 콘텐츠 -->
                <div class="tab-content" id="myTabContent">
                    <!-- 회원 정보 탭 -->
                    <div class="tab-pane fade show active" id="support" role="tabpanel" aria-labelledby="support-tab">
                        <div class="card">
                            <div class="card-body card-columns">
                                <!-- 카드 1 -->
                                <!-- 회원 정보 카드 -->
                                <div class="card">
                                    <div class="card-header">
                                        <i class="fas fa-user-circle"></i> 회원 정보
                                    </div>
                                    <div class="card-body d-flex align-items-center">
                                        <div>
                                            <p><strong>이름:</strong><span th:text="${all_memberDTO.name}"></span> </p>
                                            <p><strong>이메일:</strong> <span th:text="${all_memberDTO.email}"></span></p>
                                            <p><strong>아이디:</strong> <span th:text="${#strings.substringBefore(all_memberDTO.email, '@')}"></span></p>
                                            <p><strong>전화번호:</strong> <span th:text="${all_memberDTO.aPhone}"></span></p>
                                            <p><strong>회원종류:</strong> <span th:text="${all_memberDTO.memberType}"></span></p>
                                        </div>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-header">
                                        <i class="fas fa-user-circle"></i> 증명 사진
                                    </div>
                                    <div class="card-body d-flex align-items-center">
                                        <img src="img/dong.jpg" alt="Profile Image" class="profile-img">
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-header">
                                        <i class="fas fa-user-circle"></i> 회원 정보 전환일
                                    </div>
                                    <div class="card-body d-flex align-items-center">
                                        <div>
                                            <p><strong>회원 가입일</strong> <span th:text="${all_memberDTO.regdate}"></span></p>
                                            <p><strong>회원정보 수정일</strong> <span th:text="${all_memberDTO.moddate}"></span></p>
                                            <p><strong>회원 전환일</strong> 2025년 03월 12일<br>일반회원 >> 개인회원 전환</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- 회원 정보 수정 탭 -->
                    <div class="tab-pane fade" id="proposal" role="tabpanel" aria-labelledby="proposal-tab">
                        <!--                                회원 정보 수정-->
                        <div class="container mt-5">
                            <div class="post-container">
                                <form>
                                    <div class="form-section">
                                        <h5 class="product-h5">회원 정보</h5>
                                        <hr>
                                        <div class="mb-3">
                                            <label class="form-label">이름</label>
                                            <input type="text" class="form-control" placeholder="기본 이름 연동"
                                                   readonly>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">생년월일</label>
                                            <input type="text" class="form-control" placeholder="기본 생년월일 연동"
                                                   readonly>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">이메일</label>
                                            <input type="text" class="form-control" placeholder="기본 이메일 연동"
                                                   readonly>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">아이디</label>
                                            <input type="text" class="form-control" placeholder="기본 아이디 연동"
                                                   readonly>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-6 mb-3">
                                                <label class="form-label">비밀번호</label>
                                                <input type="text" class="form-control" placeholder="비밀번호">
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <label class="form-label">비밀번호 확인</label>
                                                <input type="text" class="form-control" placeholder="비밀번호 확인">
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">전화번호</label>
                                            <input type="text" class="form-control" placeholder="전화번호 인증"
                                                   required>
                                        </div>
                                        <div class="mb-3">
                                            <span>회원종류</span><br>
                                            <label>
                                                <input type="radio" name="member" value="all"> 일반회원
                                            </label><br>
                                            <label>
                                                <input type="radio" name="member" value="user"> 개인회원
                                            </label><br>
                                            <label>
                                                <input type="radio" name="member" value="business"> 기업회원
                                            </label><br>
                                        </div>

                                    </div>
                                    <div class="form-section">
                                        <div class="mb-3">
                                            <label class="form-label">증명사진</label>
                                            <div class="file-label" onclick="$('#imageUpload').click()">이미지
                                                업로드
                                            </div>
                                            <input type="file" class="form-control d-none" id="imageUpload"
                                                   accept="image/*" multiple>
                                            <div id="imagePreview" class="mt-2 d-flex flex-wrap"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 mb-3">
                                            <button type="submit" class="product-btn btn btn-primary w-100">수정
                                            </button>
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <button type="button" class="product-btn btn btn-danger w-100">회원탈퇴
                                            </button>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>