body{
    background-color: white;
}
main{
    height: 650px;
}
.mb-2{
    display: flex;
    align-items: center;
    margin: 20px;
}

.form-label{
    width: 195px;
}
@media (min-width: 1200px) {
    .recuit-container{
        max-width: 1000px;
    }
}
.form-navigation {
    position: relative;
    height: 50px;
    margin-top: 20px;
}
.form-navigation button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.prev-btn {
    left: 10%;
}
.next-btn {
    right: 10%;
}
#submitbtn {
    right: 10%;
}

.card-deck {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* .card {
    flex: 0 0 23%;
    height: 200px;
    cursor: pointer;
} */

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.5); /* 버튼 배경색 추가 */
    border-radius: 50%;
    width: 40px; /* 버튼 크기 */
    height: 40px; /* 버튼 크기 */
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-control-prev {
    left: -50px;
}

.carousel-control-next {
    right: -50px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    /* 아이콘 색상 */
    /* background-color: white; */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    color:black;
}