<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/basic.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OneFit - 판매글(기구) 등록</title>
    <link rel="stylesheet" th:href="@{/css/transaction/transa_register.css}">
    <style>
        #kakaoMap {
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        /*.form-control {*/
        /*    border-radius: 5px;*/
        /*    padding: 10px;*/
        /*    font-size: 16px;*/
        /*    border: 1px solid #ccc;*/
        /*}*/

        .btn {
            border-radius: 5px;
            padding: 10px 20px;
            font-size: 16px;
        }

        .btn-primary {
            background-color: #007bff;
            border: 1px solid #007bff;
        }

        .btn-outline-primary {
            background-color: white;
            border: 1px solid #007bff;
            color: #007bff;
        }

        .btn:hover {
            opacity: 0.9;
        }
    </style>
</head>

<body>
<div layout:fragment="transa_eq_register">
    <div class="container mt-5">
        <div class="post-container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-container">
                    <li class="breadcrumb-item"><a href="#">홈</a></li>
                    <li class="breadcrumb-item"><a href="#">거래</a></li>
                    <li class="breadcrumb-item"><a href="#">기구</a></li>
                    <li class="breadcrumb-item active" aria-current="page">게시글 등록</li>
                </ol>
            </nav>
            <form id="eq_Form" name="eq_Form" action="/transaction/transa_eq_register" method="post">
                <div class="form-section">
                    <h5 class="product-h5">상품 정보</h5>
                    <hr>
                    <div class="mb-3">
                        <!-- 1. 제목 -->
                        <label class="form-label">제목</label>
                        <input type="text" name="pTitle" id="pTitle"
                               class="form-control" placeholder="제목을 입력하세요" required>
                        <!-- 회원 아이디 -->
                        <input type="hidden" name="allId" th:value="${all_memberDTO.allId}">
                        <!--                        <div id="pTitle-feedback" class="mt-1 input-feedback text-danger">-->
                        <!--                            제목을 입력해주세요.-->
                        <!--                        </div>-->
                    </div>

                    <div class="row g-3">
                        <div class="col-md-6">
                            <!-- 2. 판매가 -->
                            <label class="form-label">판매가</label>
                            <input type="text" class="form-control number-input" name="pPrice" placeholder="판매 가격 입력"
                                   required>
                        </div>

                        <!-- 3. 카테고리 -->
                        <div class="col-md-6">
                            <label class="form-label">카테고리</label>
                            <select name="categoryId" class="form-select" required>
                                <option value="" disabled selected>카테고리 선택</option>
                                <option value="1">수영</option>
                                <option value="2">헬스</option>
                                <option value="3">요가</option>
                                <option value="4">축구</option>
                                <option value="5">배드민턴</option>
                                <option value="6">테니스</option>
                                <option value="7">스포츠 보충제</option>
                            </select>
                        </div>

                    </div>
                </div>

                <div class="form-section">
                    <h5 class="product-h5">상세 설명</h5>
                    <hr>
                    <div class="mb-4">
                        <!-- 4. 판매내용 -->
                        <label class="form-label">판매 내용</label>
                        <textarea class="form-control" rows="5" name="pContent"
                                  placeholder="판매 내용을 입력하세요" required></textarea>
                    </div>
                    <!-- 5. 거래 장소 입력 start-->
                    <div class="mb-3">
                        <label class="form-label">희망 거래 장소</label>
                        <div class="container">
                            <div class="row justify-content-center">
                                <!-- 지도 표시 영역 -->
                                <div id="kakaoMap" class="col-12 col-md-6 mb-2 w-100 rounded-2"
                                     style="height: 400px;"></div>
                            </div>

                            <div class="row justify-content-center">
                                <!-- 주소 입력 필드 -->
                                <div class="col-12 col-md-6 mb-3 w-100">
                                    <div class="mb-2 text-secondary fs-6">
                                        ※ 원하는 장소를 지도에 표시시킨 후, '주소 찾기' 버튼을 눌러 해당 주소를 입력해주세요.
                                        <br>('희망 거래 장소(주소)' 입력 > '위치 찾기' 버튼 클릭을 통해 원하는 장소로 지도를 이동시킬 수 있습니다.)
                                    </div>
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control kakaoAddress"
                                               placeholder="희망 거래 장소(주소)를 입력하세요.">
                                        <button class="btn btn-outline-primary searchAddress" type="button">위치 찾기
                                        </button>
                                    </div>
                                    <div class="input-group">
                                        <button class="btn btn-outline-primary" id="getAddress" type="button">주소 찾기
                                        </button>
                                        <input type="text" class="form-control" id="addressInput" name="pAddr" readonly
                                               placeholder="주소가 여기에 표시됩니다." required>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 5. 거래 장소 입력 end -->
                    <div class="mb-3">
                        <!-- 6. 오픈 채팅 URL -->
                        <label class="form-label">카카오톡 오픈채팅 URL</label>
                        <input type="url" class="form-control" name="pChatUrl"
                               placeholder="오픈채팅 URL를 입력하세요">
                    </div>
                    <div class="mb-3 uploadHidden">
                        <!-- 7. 상품 이미지 -->
                        <label class="form-label">상품 이미지</label>
                        <div class="file-label" onclick="$('#imageUpload').click()">이미지 업로드</div>
                        <input type="file" class="form-control d-none" id="imageUpload" accept="image/*" multiple>
                        <div id="imagePreview" class="mt-2 d-flex flex-wrap"></div>
                        <div class="mt-1 text-secondary">
                            ※ 미리보기 첫 번째 이미지가 썸네일로 표시됩니다.
                        </div>
                    </div>
                </div>

                <div class="form-section">
                    <h5 class="product-h5 detail-h5">기구 판매 정보</h5>
                    <hr>
                    <div class="row g-3">
                        <div class="col-md-6">
                            <!-- 8. 제품명 -->
                            <label class="form-label">제품명</label>
                            <input type="text" class="form-control" name="eName"
                                   placeholder="제품명을 가격을 입력하세요" required>
                        </div>
                        <div class="col-md-6">
                            <!-- 9. 제조사 -->
                            <label class="form-label">제조사</label>
                            <input type="text" class="form-control" name="eBrand"
                                   placeholder="제조사를를 입력하세요" required>
                        </div>
                        <div class="form-section col-md-6">
                            <!-- 10. 제품 상태 -->
                            <label class="form-label">제품 상태</label>
                            <div class="btn-group w-100" role="group">
                                <input type="radio" class="btn-check" id="status-a" name="eStatus" value="상"
                                       checked>
                                <label for="status-a" class="btn btn-outline-primary">상</label>
                                <input type="radio" class="btn-check" id="status-b" name="eStatus" value="중">
                                <label for="status-b" class="btn btn-outline-primary">중</label>
                                <input type="radio" class="btn-check" id="status-c" name="eStatus" value="하">
                                <label for="status-c" class="btn btn-outline-primary">하</label>
                            </div>
                        </div>
                        <div class="form-section col-md-6">
                            <!-- 11. A/S 가능여부 -->
                            <label class="form-label">A/S 가능여부</label>
                            <div class="btn-group w-100" role="group">
                                <input type="radio" class="btn-check" id="as-yes" name="eAs" value="가능" checked>
                                <label for="as-yes" class="btn btn-outline-primary">가능</label>
                                <input type="radio" class="btn-check" id="as-no" name="eAs" value="불가">
                                <label for="as-no" class="btn btn-outline-primary">불가</label>
                            </div>
                        </div>
                        <div class="col-md-6 mt-0">
                            <!-- 12. 구매가 -->
                            <label class="form-label">구매가</label>
                            <input type="text" class="form-control number-input" name="ePurPrice"
                                   placeholder="구매 가격을 입력하세요" required>
                        </div>
                    </div>
                    <div class="use-date-div row g-3">
                        <div class="col-md-6">
                            <!-- 13. 사용 시작일 -->
                            <label class="form-label">사용 시작일</label>
                            <input type="date" class="form-control" name="eUseStart"
                                   placeholder="판매 가격 입력" required>
                        </div>
                        <div class="col-md-6">
                            <!-- 14. 사용 종료일 -->
                            <label class="form-label">사용 종료일</label>
                            <input type="date" class="form-control" name="eUseEnd"
                                   placeholder="판매 가격 입력" required>
                        </div>
                    </div>
                </div>
                <button type="submit" class="product-btn btn btn-primary w-100 submitBtn">등록하기</button>
            </form>
        </div>
    </div>
    <!-- JS 기능 추가 -->
    <script th:src="@{/js/transaction/upload.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script th:src="@{/js/transaction/transa_register.js}"></script>
    <script th:src="@{/js/transaction/transa_input.js}"></script>
</div>


</body>

</html>