<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/basic.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OneFit - 판매글(기구) 등록</title>
    <link rel="stylesheet" th:href="@{/css/transaction/transa_register.css}">
</head>

<body>
<div layout:fragment="transa_eq_register">
    <div class="container mt-5">
        <div class="post-container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-container">
                    <li class="breadcrumb-item"><a href="#">홈</a></li>
                    <li class="breadcrumb-item"><a href="#">거래</a></li>
                    <li class="breadcrumb-item"><a href="#">기구</a></li>
                    <li class="breadcrumb-item active" aria-current="page">게시글 수정</li>
                </ol>
            </nav>

            <form id="eqModifyForm" name="eqModifyForm" action="/transaction/transa_eq_modify" method="post">
                <div class="form-section">
                    <h5 class="product-h5">상품 정보</h5>
                    <!-- 상품 ID -->
                    <input type="text" class="form-control" th:value="${dto.productId}" name="productId"
                           style="display: none">
                    <hr>
                    <div class="mb-3">
                        <!-- 1. 제목 -->
                        <label class="form-label">제목</label>
                        <input type="text" name="pTitle" id="pTitle"
                               class="form-control" th:value="${dto.pTitle}" required>
                        <!--                        <div id="pTitle-feedback" class="mt-1 input-feedback text-danger">-->
                        <!--                            제목을 입력해주세요.-->
                        <!--                        </div>-->
                    </div>

                    <div class="row g-3">
                        <!-- 거래 상태 (게시글 수정 시에 보임)-->
                        <div class="form-section col-md-6">
                            <label class="form-label">거래 상태</label>
                            <div class="btn-group w-100" role="group">
                                <input type="radio" class="btn-check" id="status-sale" name="pStatus" value="판매중"
                                       th:checked="${dto.pStatus == '판매중'}">
                                <label for="status-sale" class="btn btn-outline-primary">판매중</label>

                                <input type="radio" class="btn-check" id="status-reserved" name="pStatus" value="예약중"
                                       th:checked="${dto.pStatus == '예약중'}">
                                <label for="status-reserved" class="btn btn-outline-primary">예약중</label>

                                <input type="radio" class="btn-check" id="status-done" name="pStatus" value="판매완료"
                                       th:checked="${dto.pStatus == '판매완료'}">
                                <label for="status-done" class="btn btn-outline-primary">판매완료</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <!-- 2. 판매가 -->
                            <label class="form-label">판매가</label>
                            <input type="text" class="form-control" name="pPrice" th:value="${dto.pPrice}" required>
                        </div>

                        <!-- 3. 카테고리 -->
                        <div class="col-md-6">
                            <label class="form-label">카테고리</label>
                            <select name="categoryId" class="form-select" required>
                                <option value="" disabled selected>카테고리 선택</option>
                                <option value="1" th:selected="${dto.categoryId == 1}">수영</option>
                                <option value="2" th:selected="${dto.categoryId == 2}">헬스</option>
                                <option value="3" th:selected="${dto.categoryId == 3}">요가</option>
                                <option value="4" th:selected="${dto.categoryId == 4}">축구</option>
                                <option value="5" th:selected="${dto.categoryId == 5}">배드민턴</option>
                                <option value="6" th:selected="${dto.categoryId == 6}">테니스</option>
                                <option value="7" th:selected="${dto.categoryId == 7}">스포츠 보충제</option>
                            </select>
                        </div>

                    </div>


                </div>

                <div class="form-section">
                    <h5 class="product-h5">상세 설명</h5>
                    <hr>
                    <div class="mb-3">
                        <!-- 4. 판매내용 -->
                        <label class="form-label">판매 내용</label>
                        <textarea class="form-control" rows="5" name="pContent" required>[[${dto.pContent}]]
                        </textarea>
                    </div>
                    <div class="mb-3">
                        <!-- 5. 거래 장소 -->
                        <label class="form-label">희망 거래 장소</label>
                        <div class="container">
                            <div class="row justify-content-center">
                                <!-- 지도 표시 영역 -->
                                <div id="kakaoMap" class="col-12 col-md-6 mb-2 w-100 rounded-2" style="height: 400px;"></div>
                            </div>

                            <div class="row justify-content-center">
                                <!-- 주소 입력 필드 -->
                                <div class="col-12 col-md-6 mb-3 w-100">
                                    <div class="mb-2 text-secondary fs-6">
                                        ※ 원하는 장소를 지도에 표시시킨 후, '주소 찾기' 버튼을 눌러 해당 주소를 입력해주세요.
                                        <br>('희망 거래 장소(주소)' 입력 > '위치 찾기' 버튼 클릭을 통해 원하는 장소로 지도를 이동시킬 수 있습니다.)
                                    </div>
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control kakaoAddress"
                                               placeholder="희망 거래 장소(주소)를 입력하세요.">
                                        <button class="btn btn-outline-primary searchAddress" type="button">위치 찾기</button>
                                    </div>
                                    <div class="input-group">
                                        <button class="btn btn-outline-primary" id="getAddress" type="button">주소 찾기</button>
                                        <input type="text" class="form-control" id="addressInput" name="pAddr"
                                               th:value="${dto.pAddr}" th:data-paddr="${dto.pAddr}"
                                               readonly placeholder="주소가 여기에 표시됩니다." required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 5. 거래 장소 -->
                    </div>
                    <div class="mb-3">
                        <!-- 6. 오픈 채팅 URL -->
                        <label class="form-label">카카오톡 오픈채팅 URL</label>
                        <input type="url" class="form-control" name="pChatUrl" th:value="${dto.pChatUrl}" required>
                    </div>
                    <div class="mb-3 uploadHidden">
                        <!-- 7. 상품 이미지 -->
                        <label class="form-label">상품 이미지</label>
                        <div class="file-label" onclick="$('#imageUpload').click()">이미지 업로드</div>
                        <input type="file" class="form-control d-none" id="imageUpload" accept="image/*" multiple>
                        <!-- 이미지 미리보기 -->
                        <div id="imagePreview" class="mt-2 d-flex flex-wrap">
                            <th:block th:each="fileName:${dto.imageFileNames}">
                                <div class="position-relative d-inline-block me-2 mt-2" th:with="arr = ${fileName.split('_')}">
                                    <img th:src="|/view_transa/${fileName}|" th:data-src="${fileName}"
                                         class="preview-img rounded border">
                                    <button type="button"
                                            th:onclick="removeFile([[${arr[0]}]], [[${arr[1]}]], this)"
                                            class="btn-close position-absolute top-0 start-100 translate-middle p-1 rounded-circle">
                                    </button>
                                </div>
                            </th:block>
                        </div>
                        <div class="mt-1 text-secondary">
                            ※ 미리보기 첫 번째 이미지가 썸네일로 표시됩니다.
                        </div>
                    </div>
                </div>

                <div class="form-section">
                    <h5 class="product-h5 detail-h5">기구 판매 정보</h5>
                    <hr>
                    <div class="row g-3">
                        <div class="col-md-6">
                            <!-- 8. 제품명 -->
                            <label class="form-label">제품명</label>
                            <input type="text" class="form-control" name="eName"
                                   th:value="${dto.eName}" required>
                        </div>
                        <div class="col-md-6">
                            <!-- 9. 제조사 -->
                            <label class="form-label">제조사</label>
                            <input type="text" class="form-control" name="eBrand"
                                   th:value="${dto.eBrand}" required>
                        </div>
                        <div class="form-section col-md-6">
                            <!-- 10. 제품 상태 -->
                            <label class="form-label">제품 상태</label>
                            <div class="btn-group w-100" role="group">
                                <input type="radio" class="btn-check" id="status-a" name="eStatus" value="상"
                                       th:checked="${dto.eStatus == '상'}">
                                <label for="status-a" class="btn btn-outline-primary">상</label>

                                <input type="radio" class="btn-check" id="status-b" name="eStatus" value="중"
                                       th:checked="${dto.eStatus == '중'}">
                                <label for="status-b" class="btn btn-outline-primary">중</label>

                                <input type="radio" class="btn-check" id="status-c" name="eStatus" value="하"
                                       th:checked="${dto.eStatus == '하'}">
                                <label for="status-c" class="btn btn-outline-primary">하</label>
                            </div>
                        </div>
                        <div class="form-section col-md-6">
                            <!-- 11. A/S 가능여부 -->
                            <label class="form-label">A/S 가능여부</label>
                            <div class="btn-group w-100" role="group">
                                <input type="radio" class="btn-check" id="as-yes" name="eAs" value="가능"
                                       th:checked="${dto.eAs == '가능'}">
                                <label for="as-yes" class="btn btn-outline-primary">가능</label>

                                <input type="radio" class="btn-check" id="as-no" name="eAs" value="불가"
                                       th:checked="${dto.eAs == '불가'}">
                                <label for="as-no" class="btn btn-outline-primary">불가</label>
                            </div>
                        </div>
                        <div class="col-md-6 mt-0">
                            <!-- 12. 구매가 -->
                            <label class="form-label">구매가</label>
                            <input type="text" class="form-control" name="ePurPrice"
                                   th:value="${dto.ePurPrice}" required>
                        </div>
                    </div>
                    <div class="use-date-div row g-3">
                        <div class="col-md-6">
                            <!-- 13. 사용 시작일 -->
                            <label class="form-label">사용 시작일</label>
                            <input type="date" class="form-control" name="eUseStart"
                                   th:value="${dto.eUseStart}" required>
                        </div>
                        <div class="col-md-6">
                            <!-- 14. 사용 종료일 -->
                            <label class="form-label">사용 종료일</label>
                            <input type="date" class="form-control" name="eUseEnd"
                                   th:value="${dto.eUseEnd}" required>
                        </div>
                    </div>
                </div>
                <button type="submit" class="product-btn btn btn-primary w-100 submitBtn">
                    수정하기
                </button>
            </form>
        </div>
    </div>
    <!-- JS 기능 추가 -->
    <script th:src="@{/js/transaction/upload.js}"></script>
    <script th:src="@{/js/transaction/transa_modify.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</div>


</body>

</html>