<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/basic.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OneFit - 거래 게시판</title>
    <link rel="stylesheet" th:href="@{/css/transaction/transa_list.css}">
    <!--        <link rel="stylesheet" th:href="@{/css/pagination.css}">-->
    <link rel="stylesheet" th:href="@{/css/transaction/paginationNew.css}">
</head>

<body>
<div layout:fragment="transa_list">
    <div class="container mt-4 d-flex">
        <!-- 사이드 메뉴 -->
        <div class="sidebar mb-4">
            <!-- 카테고리 메뉴 -->
            <h5 class="fw-bold">카테고리</h5>
            <hr class="mt-2">
            <div class="list-group">
                <a class="list-group-item active" href="/transaction/transa_list">전체 보기</a>
                <a class="list-group-item category-list" data-bs-toggle="collapse" data-bs-target="#equipmentMenu" data-category-type="eq">운동
                    기구</a>
                <div class="collapse ps-3" id="equipmentMenu">
                    <a class="list-group-item" data-category-name="수영">수영</a>
                    <a class="list-group-item" data-category-name="헬스">헬스</a>
                    <a class="list-group-item" data-category-name="요가">요가</a>
                    <a class="list-group-item" data-category-name="축구">축구</a>
                    <a class="list-group-item" data-category-name="배드민턴">배드민턴</a>
                    <a class="list-group-item" data-category-name="테니스">테니스</a>
                    <a class="list-group-item" data-category-name="스포츠 보충제">스포츠 보충제</a>
                </div>
                <a class="list-group-item category-list" data-bs-toggle="collapse" data-bs-target="#facilityMenu" data-category-type="fa">운동
                    시설</a>
                <div class="collapse ps-3" id="facilityMenu">
                    <a class="list-group-item" data-category-name="헬스장">헬스장</a>
                    <a class="list-group-item" data-category-name="배드민턴장">배드민턴장</a>
                    <a class="list-group-item" data-category-name="스쿼시장">스쿼시장</a>
                    <a class="list-group-item" data-category-name="농구장">농구장</a>
                    <a class="list-group-item" data-category-name="풋살장">풋살장</a>
                    <a class="list-group-item" data-category-name="수영장">수영장</a>
                    <a class="list-group-item" data-category-name="테니스장">테니스장</a>
                    <a class="list-group-item" data-category-name="탁구장">탁구장</a>
                    <a class="list-group-item" data-category-name="볼링장">볼링장</a>
                </div>
            </div>

            <!-- 지역 필터 -->
            <h5 class="fw-bold pt-3">지역</h5>
            <hr class="mt-2">
            <div class="list-group" id="regionList">
                <a class="list-group-item active" href="/transaction/transa_list">전체 보기</a>
            </div>

            <!-- 가격 필터 -->
            <div class="filter-section">
                <h6 class="fw-bold">가격 필터</h6>
                <div class="price-input">
                    <input class="number-input" th:value="${minPrice != null ? minPrice : ''}"
                           type="text" placeholder="최소" id="minPrice">
                    <span>~</span>
                    <input class="number-input" th:value="${maxPrice != null ? maxPrice : ''}"
                           type="text" placeholder="최대" id="maxPrice">
                </div>
                <button class="btn btn-link price-apply mt-1">적용하기</button>
            </div>

            <!-- 판매 상태 -->
            <div class="filter-section">
                <h6 class="fw-bold">판매 상태</h6>
                <label class="checkbox-label">
                    <input type="checkbox"  th:checked="${onSale != null and onSale == true}"
                           class="status-filter1" value="onSale">
                    판매 중 보기
                </label>
                <label class="checkbox-label">
                    <input type="checkbox"  th:checked="${reserved != null and reserved == true}"
                           class="status-filter2" value="reserved">
                    예약 중 보기
                </label>
                <label class="checkbox-label">
                    <input type="checkbox"  th:checked="${soldOut != null and soldOut == true}"
                           class="status-filter3" value="soldOut">
                    판매 완료 보기
                </label>
            </div>
        </div>

        <!-- 메인 컨텐츠 (상품 목록) -->
        <!-- 메인 start -->
         <main>
            <div class="container list-container px-5 mt-4">
                <h2 class="mb-4 text-primary" th:text="${listTitle != null ? listTitle : '거래게시판'}"></h2>
                <div class="d-flex align-items-center gap-3">
                    <!-- 검색창 폼 -->
                    <form onsubmit="updateURL(event)" class="d-flex">
                        <div class="search-box">
                            <input type="hidden" name="type" value="t">
                            <input type="text" id="searchKeyword" th:value="${keyword != null ? keyword : ''}"
                                   class="form-control search-bar me-2" placeholder="검색어를 입력하세요">
                            <i class="fas fa-search"></i>
                        </div>
                    </form>

                    <div class="dropup custom-dropup" th:if="${all_memberDTO.allId != null}">
                        <!-- 판매하기 버튼 -->
                        <div class="tooltip-container">
                            <button class="floating-btn bg-primary text-white" id="dropdownMenuButton"
                                    type="button" th:data-member-type="${all_memberDTO.memberType}"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-plus"></i>
                            </button>
                            <div class="tooltip-bubble">
                                판매하기
                            </div>
                            <!-- 메뉴 -->
                            <div class="dropdown" th:if="${all_memberDTO.memberType != 'default'}">
                                <!-- 드롭다운 메뉴 -->
                                <ul class="dropdown-menu custom-dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <li><a class="dropdown-item" href="transa_eq_register">기구</a></li>
                                    <li><a class="dropdown-item" href="transa_fa_register"
                                           th:if="${all_memberDTO.memberType == 'business'}">시설</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="py-3">

                <div class="row justify-content-start">

                    <!-- 게시글 카드 start -->
                    <div class="col-md-3 mb-3" th:each="dto:${responseDTO.dtoList}">
                        <!--                        http://localhost:8080/board/read?pno=61&page=1&size=9&code=1-->
                        <!--                        http://localhost:8080/transaction/transa_eq_read?productId=1&null-->
                        <a th:href="@{'/transaction/' + ${dto.pRoles == 1 ? 'transa_eq_read' : 'transa_fa_read'} + '?productId=' + ${dto.productId} + '&' + ${link} }"
                           class="text-reset text-decoration-none">
                            <div class="card">
                                <div class="badge badge-status text-white"
                                     th:classappend="${dto.pStatus == '판매중'} ? 'bg-primary'
                                       : (${dto.pStatus == '예약중'} ? 'bg-success'
                                       : (${dto.pStatus == '판매완료'} ? 'bg-secondary' : ''))">
                                    [[${dto.pStatus}]]
                                </div>
                                <th:block th:each="image, stat : ${dto.imageFileList}" th:if="${stat.index == 0}">
                                    <img class="card-img-top"
                                         th:src="|/view_transa/${image.imageUuid}_${image.imageFileName}|"
                                         alt="게시글 대표 이미지">
                                </th:block>

                                <div class="card-body">
                                    <h5 class="card-title" th:title="${dto.pTitle}">
                                        [[${dto.pTitle}]]
                                    </h5>

                                    <p class="card-text fw-bold board-price">
                                        ₩&nbsp;<span th:text="${#numbers.formatInteger(dto.pPrice, 1, 'COMMA')}"></span>
                                    </p>
                                    <p class="card-text text-nowrap">
                                        <i class="bi bi-geo-alt"></i>
                                        <span th:text="${dto.pAddr}" th:title="${dto.pAddr}"></span>
                                    </p>
                                </div>
                                <div class="card-footer d-flex justify-content-center gap-3">
                                    <span>[[${dto.allId}]]</span>
                                    <span>|</span>
                                    <span>[[${#temporals.format(dto.regDate, 'yyyy-MM-dd')}]]</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- 게시글 카드 end -->
                </div>
            </div>

            <!-- 페이지네이션 start -->
            <div class="row" th:if="${responseDTO.total > 0}">
                <ul class="pagination justify-content-center" id="listPagination">
                    <li href="#" th:classappend="${responseDTO.prev} ? '' : 'is-deactive'">
                        <a class="pagearrow leftarrow" th:classappend="${responseDTO.prev} ? '' : 'is-deactive'"
                           th:data-num="${responseDTO.start -1}">&lt;</a>
                    </li>
                    <th:block th:each="i: ${#numbers.sequence(responseDTO.start, responseDTO.end)}">
                        <li href="#" th:class="${responseDTO.page == i}? 'is-active':''">
                            <a class="pageitem" th:data-num="${i}">[[${i}]]</a>
                        </li>
                    </th:block>
                    <li href="#" th:classappend="${responseDTO.next} ? '' : 'is-deactive'">
                        <a class="pagearrow rightarrow" th:classappend="${responseDTO.next} ? '' : 'is-deactive'"
                           th:data-num="${responseDTO.end + 1}">&gt;</a>
                    </li>
                </ul>
            </div>
            <!-- 페이지네이션 end -->

        </main>
        <!-- 메인 end -->
    </div>

    <!-- JS 기능 추가 -->
    <script th:src="@{/js/transaction/transa_list.js}"></script>
    <script th:src="@{/js/transaction/transa_input.js}"></script>
</div>


</body>

</html>