<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/basic.html}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OneFit - 판매글(시설) 등록</title>
    <link rel="stylesheet" th:href="@{/css/transa_register.css}">
</head>

<body>
<div layout:fragment="transa_fa_register">
    <div class="container mt-5">
        <div class="post-container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-container">
                    <li class="breadcrumb-item"><a href="#">홈</a></li>
                    <li class="breadcrumb-item"><a href="#">거래</a></li>
                    <li class="breadcrumb-item"><a href="#">시설</a></li>
                    <li class="breadcrumb-item active" aria-current="page">게시글 등록</li>
                </ol>
            </nav>
            <form id="fa_Form" name="fa_Form" action="/transaction/transa_fa_register" method="post">
                <div class="form-section">
                    <h5 class="product-h5">상품 정보</h5>
                    <hr>
                    <div class="mb-3">
                        <!-- 1. 제목 -->
                        <label class="form-label">제목</label>
                        <input type="text" name="pTitle" id="pTitle"
                               class="form-control" placeholder="제목을 입력하세요" required>
                    </div>

                    <div class="row g-3">
                        <!-- 거래 상태 (게시글 수정 시에 보임)-->
                        <!-- <div class="form-section col-md-6">
                            <label class="form-label">거래 상태</label>
                            <div class="btn-group w-100" role="group">
                                <input type="radio" class="btn-check" id="status-sale" name="status" value="판매중"
                                    checked>
                                <label for="status-sale" class="btn btn-outline-primary">판매중</label>

                                <input type="radio" class="btn-check" id="status-reserved" name="status"
                                    value="예약중">
                                <label for="status-reserved" class="btn btn-outline-primary">예약중</label>

                                <input type="radio" class="btn-check" id="status-done" name="status" value="거래완료">
                                <label for="status-done" class="btn btn-outline-primary">거래완료</label>
                            </div>
                        </div> -->
                        <div class="col-md-6">
                            <!-- 2. 판매가 -->
                            <label class="form-label">판매가</label>
                            <input type="text" class="form-control" name="pPrice"
                                   placeholder="판매 가격 입력" required>
                        </div>

                        <!-- 3. 카테고리 -->
                        <div class="col-md-6">
                            <label class="form-label">운동시설 카테고리</label>
                            <select name="cCategory" class="form-select" required>
                                <option value="" disabled selected>카테고리 선택</option>
                                <option value="헬스장">헬스장</option>
                                <option value="수영장">수영장</option>
                                <option value="배드민턴장">배드민턴장</option>
                                <option value="테니스장">테니스장</option>
                                <option value="스쿼시장">스쿼시장</option>
                                <option value="풋살장">풋살장</option>
                            </select>
                        </div>

                    </div>


                </div>

                <div class="form-section">
                    <h5 class="product-h5">상세 설명</h5>
                    <hr>
                    <div class="mb-3">
                        <!-- 4. 판매내용 -->
                        <label class="form-label">판매 내용</label>
                        <textarea class="form-control" rows="5" name="pContent"
                                  placeholder="판매 내용을 입력하세요" required></textarea>
                    </div>
                    <div class="mb-3">
                        <!-- 5. 거래 장소 -->
                        <label class="form-label">희망 거래 장소</label>
                        <input type="text" class="form-control" name="pAddr"
                               placeholder="주소를 입력하세요" required>
                    </div>
                    <div class="mb-3">
                        <!-- 6. 오픈 채팅 URL -->
                        <label class="form-label">카카오톡 오픈채팅 URL</label>
                        <input type="url" class="form-control" name="pChatUrl"
                               placeholder="오픈채팅 URL를 입력하세요">
                    </div>
                    <div class="mb-3">
                        <!-- 7. 상품 이미지 -->
                        <label class="form-label">상품 이미지</label>
                        <div class="file-label" onclick="$('#imageUpload').click()">이미지 업로드</div>
                        <input type="file" name="files" class="form-control d-none" id="imageUpload" accept="image/*" multiple>
                        <div id="imagePreview" class="mt-2 d-flex flex-wrap"></div>
                    </div>
                </div>

                <div class="form-section">
                    <h5 class="product-h5 detail-h5">시설 매매 정보</h5>
                    <hr>
                    <div class="mb-3">
                        <label class="form-label">센터명</label>
                        <input type="text" name="fCenterName"
                               class="form-control" placeholder="센터명을 입력하세요">
                    </div>
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label class="form-label">보증금(원)</label>
                            <input type="text" name="fDeposit"
                                   class="form-control" placeholder="보증금 입력">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label class="form-label">월세(원)</label>
                            <input type="text" name="fMonthRent"
                                   class="form-control" placeholder="월세 입력">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label class="form-label">관리비(원)</label>
                            <input type="text" name="fAdminCost"
                                   class="form-control" placeholder="관리비 입력">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">매매 사유</label>
                        <textarea class="form-control" name="fReasonSale"
                                  rows="2" placeholder="매매 사유 입력"></textarea>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label class="form-label">계약 면적 (㎡)</label>
                            <input type="text" name="fContArea"
                                   class="form-control" placeholder="계약 면적 입력">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="form-label">실면적 (㎡)</label>
                            <input type="text" name="fRealArea"
                                   class="form-control" placeholder="실면적 입력">
                        </div>
                    </div>
                </div>
                <button type="submit" class="product-btn btn btn-primary w-100">등록하기</button>
            </form>
        </div>
    </div>

    <!-- JS 기능 추가 -->
    <script th:src="@{/js/upload.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script th:src="@{/js/shin/transa_register.js}"></script>
</div>


</body>

</html>