<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/basic.html}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OneFit - 판매글(시설) 등록</title>
    <link rel="stylesheet" th:href="@{/css/transaction/transa_register.css}">
</head>

<body>
<div layout:fragment="transa_fa_register">
    <div class="container mt-5">
        <div class="post-container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-container">
                    <li class="breadcrumb-item"><a href="#">홈</a></li>
                    <li class="breadcrumb-item"><a href="#">거래</a></li>
                    <li class="breadcrumb-item"><a href="#">시설</a></li>
                    <li class="breadcrumb-item active" aria-current="page">게시글 등록</li>
                </ol>
            </nav>
            <form id="fa_Form" name="fa_Form" action="/transaction/transa_fa_register" method="post">
                <div class="form-section">
                    <h5 class="product-h5">상품 정보</h5>
                    <hr>
                    <div class="mb-3">
                        <!-- 1. 제목 -->
                        <label class="form-label">제목</label>
                        <input type="text" name="pTitle" id="pTitle"
                               class="form-control" placeholder="제목을 입력하세요" required>
                        <small id="pTitleFeedback" class="text-danger" style="display: none;">제목을 입력하세요.</small>
                        <!-- 회원 아이디 -->
                        <input type="hidden" name="allId" th:value="${all_memberDTO.allId}">
                    </div>

                    <div class="row g-3">
                        <div class="col-md-6">
                            <!-- 2. 판매가 -->
                            <label class="form-label">판매가</label>
                            <input type="text" class="form-control number-input" name="pPrice" id="pPrice"
                                   placeholder="판매 가격 입력" required>
                            <small id="pPriceFeedback" class="text-danger" style="display: none;">판매가를 입력하세요.</small>
                        </div>

                        <!-- 3. 카테고리 -->
                        <div class="col-md-6">
                            <label class="form-label">운동시설 카테고리</label>
                            <select name="categoryId" class="form-select" required>
                                <option value="" disabled selected>카테고리 선택</option>
                                <option value="8">헬스장</option>
                                <option value="9">배드민턴장</option>
                                <option value="10">스쿼시장</option>
                                <option value="11">농구장</option>
                                <option value="12">풋살장</option>
                                <option value="13">수영장</option>
                                <option value="14">테니스장</option>
                                <option value="15">탁구장</option>
                                <option value="16">볼링장</option>
                            </select>
                            <small id="pCategoryFeedback" class="text-danger" style="display: none;">카테고리를 선택하세요.</small>
                        </div>

                    </div>


                </div>

                <div class="form-section">
                    <h5 class="product-h5">상세 설명</h5>
                    <hr>
                    <div class="mb-3">
                        <!-- 4. 판매내용 -->
                        <label class="form-label">판매 내용</label>
                        <textarea class="form-control" rows="5" name="pContent"
                                  placeholder="판매 내용을 입력하세요" required></textarea>
                        <small id="pContentFeedback" class="text-danger" style="display: none;">판매 내용을 입력하세요.</small>
                    </div>
                    <div class="mb-3">
                        <!-- 5. 거래 장소 -->
                        <label class="form-label">희망 거래 장소</label>
                        <div class="container">
                            <div class="row justify-content-center">
                                <!-- 지도 표시 영역 -->
                                <div id="kakaoMap" class="col-12 col-md-6 mb-2 w-100 rounded-2" style="height: 400px;"></div>
                            </div>

                            <div class="row justify-content-center">
                                <!-- 주소 입력 필드 -->
                                <div class="col-12 col-md-6 mb-3 w-100">
                                    <div class="mb-2 text-secondary fs-6">
                                        ※ 원하는 장소를 지도에 표시시킨 후, '주소 찾기' 버튼을 눌러 해당 주소를 입력해주세요.
                                        <br>('희망 거래 장소(주소)' 입력 > '위치 찾기' 버튼 클릭을 통해 원하는 장소로 지도를 이동시킬 수 있습니다.)
                                    </div>
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control kakaoAddress"
                                               placeholder="희망 거래 장소(주소)를 입력하세요.">
                                        <button class="btn btn-outline-primary searchAddress" type="button">위치 찾기</button>
                                    </div>
                                    <div class="input-group">
                                        <button class="btn btn-outline-primary" id="getAddress" type="button">주소 찾기</button>
                                        <input type="text" class="form-control" id="addressInput" name="pAddr" readonly
                                               placeholder="주소가 여기에 표시됩니다." required>
                                    </div>
                                    <small id="pAddrFeedback" class="text-danger" style="display: none;">주소를 입력해주세요.</small>
                                </div>
                            </div>
                        </div>
                        <!-- 5. 거래 장소 -->
                    </div>
                    <div class="mb-3">
                        <!-- 6. 오픈 채팅 URL -->
                        <label class="form-label">카카오톡 오픈채팅 URL</label>
                        <input type="url" class="form-control" name="pChatUrl" id="pChatUrl"
                               placeholder="오픈채팅 URL를 입력하세요">
                        <small id="urlFeedback" class="text-danger" style="display: none;">올바른 오픈채팅 URL을 입력하세요.</small>
                        <small id="urlEmptyFeedback" class="text-danger" style="display: none;">오픈채팅 URL을 입력하세요.</small>
                    </div>
                    <div class="mb-3 uploadHidden">
                        <!-- 7. 상품 이미지 -->
                        <label class="form-label">상품 이미지</label>
                        <div class="file-label" onclick="$('#imageUpload').click()">이미지 업로드</div>
                        <input type="file" name="files" class="form-control d-none" id="imageUpload" accept="image/*" multiple>
                        <div id="imagePreview" class="mt-2 d-flex flex-wrap"></div>
                        <div class="mt-1 text-secondary">
                            ※ 미리보기 첫 번째 이미지가 썸네일로 표시됩니다.
                        </div>
                        <small id="imageFeedback" class="text-danger" style="display: none;">1개 이상의 이미지를 업로드 해주세요.</small>
                    </div>
                </div>

                <div class="form-section">
                    <h5 class="product-h5 detail-h5">시설 매매 정보</h5>
                    <hr>
                    <div class="mb-3">
                        <label class="form-label">센터명</label>
                        <input type="text" name="fCenterName"
                               class="form-control" placeholder="센터명을 입력하세요">
                        <small id="fCenterNameFeedback" class="text-danger" style="display: none;">.</small>
                    </div>
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label class="form-label">보증금(원)</label>
                            <input type="text" name="fDeposit"
                                   class="form-control number-input" placeholder="보증금 입력">
                            <small id="fDepositFeedback" class="text-danger" style="display: none;">.</small>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label class="form-label">월세(원)</label>
                            <input type="text" name="fMonthRent"
                                   class="form-control number-input" placeholder="월세 입력">
                            <small id="fMonthRentFeedback" class="text-danger" style="display: none;">.</small>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label class="form-label">관리비(원)</label>
                            <input type="text" name="fAdminCost"
                                   class="form-control number-input" placeholder="관리비 입력">
                            <small id="fAdminCostFeedback" class="text-danger" style="display: none;">.</small>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">매매 사유</label>
                        <input type="text" name="fReasonSale"
                               class="form-control" placeholder="매매 사유 입력하세요">
                        <small id="fReasonSaleFeedback" class="text-danger" style="display: none;">.</small>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label class="form-label">계약 면적 (㎡) <small class="text-secondary">- 최대 99999.99까지만 입력 가능합니다.</small></label>
                            <input type="text" name="fContArea"
                                   class="form-control only-number" placeholder="계약 면적 입력">
                            <small id="fContAreaFeedback" class="text-danger" style="display: none;">.</small>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="form-label">실면적 (㎡) <small class="text-secondary">- 최대 99999.99까지만 입력 가능합니다.</small></label>
                            <input type="text" name="fRealArea"
                                   class="form-control only-number" placeholder="실면적 입력">
                            <small id="fRealAreaFeedback" class="text-danger" style="display: none;">.</small>
                        </div>
                    </div>
                </div>
                <button type="submit" class="product-btn btn btn-primary w-100 submitBtn">등록하기</button>
            </form>
        </div>
    </div>

    <!-- JS 기능 추가 -->
    <script th:src="@{/js/transaction/upload.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script th:src="@{/js/transaction/transa_register.js}"></script>
    <script th:src="@{/js/transaction/transa_input.js}"></script>
</div>


</body>

</html>