<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>OneFit - 체육시설업 포털</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=3c13bfa6949d3bc10bcf20e9fa7b2bdd"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/basic.css">
</head>

<body>
<!-- 헤더 start -->
<header>
    <!-- 메인 메뉴 -->
    <div class="nav-container">
        <!-- 로고 -->
        <div class="d-flex align-items-center justify-content-between">
            <a class="navbar-brand me-auto" href="/main">OneFit</a>
            <!-- 햄버거 버튼 -->
            <div th:if="${sidebar == true}">
                <button class="navbar-toggler round-btn toggle-sidebar btns btns-hanbuger" type="button"
                        data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasSidebar" aria-controls="offcanvasSidebar">
                    <span class="navbar-toggler-icon"><i class="fa-solid fa-bars-staggered"></i></span>
                </button>
            </div>
        </div>

        <!-- 메인 메뉴(채용정보, 강사찾기, 거래, 커뮤니티) -->
        <ul class="nav mx-auto">
            <li class="nav-item"><a class="nav-link" href="/recruit/list">채용정보</a></li>
            <li class="nav-item"><a class="nav-link" href="/trainer/trainer_list">강사찾기</a></li>
            <li class="nav-item dropdown dropdown-main">
                <a class="nav-link dropdown-toggle" href="#" id="tradeDropdown" role="button"
                   data-bs-toggle="dropdown">거래</a>
                <ul class="dropdown-menu dropdown-main-menu">
                    <li><a class="dropdown-item" href="/transaction/transa_list">시설</a></li>
                    <li><a class="dropdown-item" href="/transaction/transa_list">기구</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown dropdown-main">
                <a class="nav-link dropdown-toggle" href="#" id="communityDropdown" role="button"
                   data-bs-toggle="dropdown">커뮤니티</a>
                <ul class="dropdown-menu dropdown-main-menu">
                    <li><a class="dropdown-item" th:href="@{/zboard/board_notice_list}">공지사항</a></li>
                    <li><a class="dropdown-item" th:href="@{/zboard/board_qa_list}">Q&A</a></li>
                </ul>
            </li>
        </ul>

        <!-- 사이드 메뉴(로그인, 회원가입 / 로그아웃, 마이페이지, 알림) -->
        <div class="auth-links ms-auto" >

            <!-- 로그인 전 메뉴 -->
            <div th:if="${all_memberDTO.allId == null}">
                <a type="button" class="basic-btn btn btn-primary btns" href="/login">
                    로그인
                </a>
                <span class="separator">|</span>
                <button type="button" class="basic-btn btn btn-primary btns" data-bs-toggle="modal"
                        data-bs-target="#signupModal">
                    회원가입
                </button>
            </div>

            <div th:if="${all_memberDTO.allId != null}">
                <a type="button" class="basic-btn btn btn-primary btns" href="/logout">
                    로그아웃
                </a>
                <span class="separator">|</span>
                <button type="button" class="basic-btn btn btn-primary btns">

                    <a th:href="|@{/member/my_default_page(allId=${all_memberDTO.allId})}|" class="text-reset text-decoration-none">
                        마이페이지
                    </a>
                </button>
            </div>
        </div>

        <!-- 알림 start -->
        <div class="dropdown">
            <button class="signal-btn btn btn-light position-relative" type="button" id="notificationDropdown"
                    data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fas fa-bell"></i>
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                            3
                        </span>
            </button>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="notificationDropdown">
                <li>
                    <h6 class="dropdown-header">알림</h6>
                </li>
                <li><a class="dropdown-item" href="#">📢 새로운 공지가 있습니다.</a></li>
                <li><a class="dropdown-item" href="#">📩 새로운 메시지가 도착했습니다.</a></li>
                <li><a class="dropdown-item" href="#">✔️ 회원 가입이 완료되었습니다.</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item text-center" href="#">모두 보기</a></li>
            </ul>
        </div>
        <!-- 알림 end -->
    </div>
    </div>
</header>
<!-- 헤더 end -->

<!-- 메인 start -->
<main>
    <div layout:fragment="myPage"></div>
    <div layout:fragment="main"></div>

    <!-- (거래) start -->
    <!-- 판매 게시판 -->
    <div layout:fragment="transa_list"></div>
    <!-- 기구 판매 게시글 (읽기) -->
    <div layout:fragment="transa_eq_read"></div>
    <!-- 시설 매매 게시글 (읽기) -->
    <div layout:fragment="transa_fa_read"></div>
    <!-- 기구 판매 게시글 (등록) -->
    <div layout:fragment="transa_eq_register"></div>
    <!-- 시설 매매 게시글 (등록) -->
    <div layout:fragment="transa_fa_register"></div>
    <!-- (거래) end1 -->

    <!-- (게시판) start -->
    <!-- 공지사항 게시판 -->
    <div layout:fragment="board_notice_list"></div>
    <div layout:fragment="board_notice_register"></div>
    <div layout:fragment="board_notice_read"></div>
    <div layout:fragment="board_notice_modify"></div>
    <!-- QnA 게시판 -->
    <div layout:fragment="board_qa_list"></div>
    <div layout:fragment="board_qa_register"></div>
    <div layout:fragment="board_qa_read"></div>
    <div layout:fragment="board_qa_modify"></div>

    <!--    테스트용-->
    <div layout:fragment="index"></div>
    <div layout:fragment="login"></div>
    <div layout:fragment="join"></div>
</main>
<!-- 메인 end  -->

<!--  회원가입 모달창 start -->
<div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="signupModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="signupModalLabel"><span class="rogo-span">OneFit</span> 회원가입</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body signup-modal-body">
                <div class="tab-content mt-3 div-sign-login" id="signupTabContent">
                    <form id="registerForm" name="registerForm" action="/join" method="post">
                        <!--아이디중복확인-->
                        <div class="mb-3">
                            <label for="allId" class="form-label">아이디</label>
                            <div class="input-group">
                                <input type="text" class="form-control" name="allId" id="allId"
                                       placeholder="3자 이상, 16자 이하의 영어 또는 숫자로 구성" required
                                       minlength="3" maxlength="16" pattern="^[a-zA-Z0-9]{3,16}$"
                                       title="3자 이상, 16자 이하의 영어 또는 숫자만 입력 가능합니다.">
                            </div>
                            <!-- 중복 확인 메시지 출력 공간 -->
                            <textarea id="username-feedback" class="mt-1 input-feedback text-success"
                                      style="all: unset; width: 20vw; border: none; outline: none;" readonly>
                            </textarea>
                        </div>

                        <!--이메일중복확인-->
                        <div class="mb-3">
                            <label for="email" class="form-label">이메일</label>
                            <div class="input-group">
                                <input type="email" class="form-control" name="email" id="email"
                                       placeholder="ex) email@onefit.com" required>
                            </div>
                            <textarea id="email-feedback" class="mt-1 input-feedback text-danger"
                                      style="all: unset; width: 20vw; border: none; outline: none;" readonly>
                            </textarea>
                        </div>
                        <div class="mb-3">
                            <label for="name" class="form-label">이름</label>
                            <input type="text" class="form-control" name="name" id="name" placeholder="홍길동" required>
                        </div>
                        <div class="mb-3">
                            <label for="aPsw" class="form-label">비밀번호 <span style="font-size: 0.6rem;">6자 이상, 16자 이하의 영어와 숫자의 조합으로 구성</span></label>
                            <input type="password" class="form-control" id="aPsw"
                                   required
                                   minlength="6"
                                   maxlength="16"
                                   pattern="^[a-zA-Z0-9]{6,16}$">
                        </div>
                        <div class="mb-3">
                            <label for="aPswCheck" class="form-label">비밀번호 확인</label>
                            <input type="password" class="form-control" name="aPsw" id="aPswCheck"
                                   required
                                   minlength="6"
                                   maxlength="16"
                                   pattern="^[a-zA-Z0-9]{6,16}$">
                            <div id="password-feedback" class="mt-1 input-feedback text-success"></div>
                        </div>
                        <div class="mb-3">
                            <label for="aPhone" class="form-label">전화번호</label>
                            <input type="tel" class="form-control" name="aPhone" id="aPhone"
                                   placeholder="ex) 01012345678"
                                   required
                                   pattern="^\d{11}$"
                                   title="전화번호는 '-'없이 01012345678 형식의 11자리이어야 합니다.">
                        </div>
                        <input type="hidden" name="memberType" value="default">
                        <button type="submit" class="btn btn-success w-100 modal-btn"
                                id="signupButton" disabled>가입하기
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 회원가입 모달창 end -->

<!-- FontAwesome CDN (아이콘 사용을 위한 링크) -->
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<!-- bootstrap js -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="/js/basic.js"></script>
<script type="text/javascript"
        src="http://dapi.kakao.com/v2/maps/sdk.js?appkey=3c13bfa6949d3bc10bcf20e9fa7b2bdd&autoload=false&libraries=services,clusterer,drawing&"></script>
<script src="/js/member/kakaoMap.js"></script>
<script src="/js/member/basicPageMember.js"></script>
<script layout:fragment="script" th:inline="javascript">
    const error = [[${error}]]

    if (error && error === 'allId') {
        alert("동일한 아이디를 가진 계정이 존재합니다.")
    }
</script>
</body>

<!-- footer -->
<th:block th:replace="/foot/footer"></th:block>

</html>