<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/basic.html}">
<head>
    <link rel="stylesheet" href="/css/my.css">
</head>

<div layout:fragment="myPage">
    <!-- 사이드바 -->
    <div class="container">
        <div class="row">
            <nav id="offcanvasSidebar" class="sidebar-nav col-md-3 offcanvas offcanvas-start text-white sidebars show"
                 data-bs-backdrop="false" data-bs-scroll="true" tabindex="-1">
                <div class="side-header d-flex justify-content-between offcanvas-header">
                    <a class="navbar-brand me-auto" href="/main">OneFit</a>
                    <button type="button" class="btn-close ms-0 toggle-sidebar" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                </div>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" style="pointer-events: none;"><i class="fas fa-user"></i> 내 정보</a>
                        <ul class="nav flex-column ml-3">
                            <li class="nav-item">
                                <a class="nav-link" href="/member/my_default_page">
                                    <i class="fas fa-edit"></i> 회원 정보
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/member/my_board"><i class="fas fa-file-alt"></i> 내가 작성한
                                    게시글</a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item" th:if="${memberTypeAgree == 'user'}">
                        <a class="nav-link" style="pointer-events: none;"><i class="fas fa-user-tie"></i> 개인회원</a>
                        <ul class="nav flex-column ml-3">
                            <li class="nav-item">
                                <a class="nav-link" th:href="|@{/member/my_user_page(allId =${all_memberDTO.allId})}|"><i class="fas fa-id-card"></i> 내 이력서 보기</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link collapsed d-flex justify-content-between" href="#"
                                   data-bs-toggle="collapse"
                                   data-bs-target="#tradeMenu2">
                                    <span><i class="fas fa-exchange-alt"></i> 거래</span>
                                    <i class="fas fa-chevron-down"></i>
                                </a>
                                <div id="tradeMenu2" class="collapse">
                                    <ul class="nav flex-column ms-3">
                                        <li class="nav-item">
                                            <a class="nav-link" href="#"><i class="fas fa-cogs"></i> 기구</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#"><i class="fas fa-building"></i> 시설</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item" th:if="${memberTypeAgree == 'business'}">
                        <a class="nav-link" style="pointer-events: none;"><i class="fas fa-building"></i> 기업회원</a>
                        <ul class="nav flex-column ml-3">
                            <li class="nav-item">
                                <a class="nav-link" th:href="|@{/member/my_business_page(allId =${all_memberDTO.allId})}|"><i class="fas fa-industry"></i> 기업
                                    정보</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="fas fa-clipboard-list"></i> 공고 등록 현황</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link collapsed d-flex justify-content-between" href="#"
                                   data-bs-toggle="collapse"
                                   data-bs-target="#tradeMenu3">
                                    <span><i class="fas fa-exchange-alt"></i> 거래</span>
                                    <i class="fas fa-chevron-down"></i>
                                </a>
                                <div id="tradeMenu3" class="collapse">
                                    <ul class="nav flex-column ms-3">
                                        <li class="nav-item">
                                            <a class="nav-link" href="#"><i class="fas fa-cogs"></i> 기구</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#"><i class="fas fa-building"></i> 시설</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <!-- 메인 콘텐츠 -->
            <div class="container-fluid align-items-center">
                <div class="my-main-header">
                    <h2 class="my-name" th:text="${all_memberDTO.name} + ' 님'"></h2>
                    <hr>
                </div>
                <div class="row">
                    <div layout:fragment="my_default_page"></div>
                    <div layout:fragment="my_user_page"></div>
                    <div layout:fragment="my_business_page"></div>
                </div>
            </div>
            <div layout:fragment="my_board"></div>
            <div layout:fragment="my_info_page"></div>
        </div>
    </div>
</div>
<!--메인끝-->
<script>
    $('.toggle-sidebar').click(function () {
        $('.container-fluid').toggleClass('shifted');
    });
</script>
</html>