body {
    background-color: #f4f7fc;
}

.sidebar {
    height: 200vh;
    background-color: #ffffff;
    border-right: 1px solid #ddd;
    padding-top: 20px;
}

.sidebar .nav-link {
    font-size: 16px;
    font-weight: 600;
    color: #495057;
    border-bottom: 1px solid #f4f4f4;
    padding: 20px 25px;
}

.sidebar .nav-link:hover {
    background-color: #f1f1f1;
    color: #007bff;
}

.main-content {
    padding: 30px;
}

.profile-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-right: 20px;
}

.card-header {
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;
    font-weight: 600;
    color: #333;
}

.card-body {
    padding: 25px;
    background-color: #ffffff;
}

.card {
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.btn-primary {
    background-color: #007bff;
    border: none;
    padding: 10px 20px;
    font-weight: 600;
}

.btn-info {
    background-color: #17a2b8;
    border: none;
    padding: 8px 16px;
    font-weight: 600;
}

.card-header i {
    color: #007bff;
    margin-right: 10px;
}

.nav-item .nav-link i {
    margin-right: 10px;
}

.recent-posts .card-body {
    padding: 20px;
}

.recent-posts .card-body h5 {
    font-size: 18px;
}

.side-rogo {
    font-size: 1.3rem;
}

.side-header {
    padding: 10px;
}

.my-name {
    padding: 30px;

}

.card-columns {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1.5rem;
    padding-bottom: 20px;
    padding-top: 20px;
}

.card-custom {
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    /* transition: transform 0.3s ease, box-shadow 0.3s ease; */
    height: 170px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.custom-carousel-btn {
    position: static !important;
    /* 기본 absolute 속성 제거 */
    display: inline-block;
    /* 버튼이 사라지는 문제 방지 */
}