<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}"
      lang="ko">
<head>
    <title>trainer_view</title>
    <link rel="stylesheet" href="/css/trainer.css">
</head>
<div layout:fragment="main">
    <!-- 이력서 등록 폼 -->
    <div class="container mt-5 resume-container">
        <h2 class="text-center mb-4"></h2>
        <div class="card p-4 mb-4 shadow-sm">
            <form class="no-outline">
                <input type="text" name="userId" value="1" hidden>
                <div class="row">
                    <div class="col-md-8 top-of-regi">
                        <h4 class="section-title">[[${dto.title}]]</h4>
                        <div class="mb-2">
                            <label class="form-label"><strong>이름:</strong></label>
                            <input type="text" class="form-control do-not-submit" th:value="${dto.name}" required readonly>
                        </div>
                        <div class="mb-2">
                            <label class="form-label"><strong>성별:</strong></label>
                            <input type="text" class="form-control do-not-submit" th:value="${dto.gender}" required readonly>
                        </div>
                        <div class="mb-2">
                            <label class="form-label"><strong>생년월일:</strong></label>
                            <input type="date" class="form-control do-not-submit" th:value="${dto.birthday}" required readonly>
                        </div>
                        <div class="mb-2">
                            <label class="form-label"><strong>이메일:</strong></label>
                            <input type="email" class="form-control do-not-submit" th:value="${dto.email}" required readonly>
                        </div>
                        <div class="mb-2">
                            <label class="form-label"><strong>연락처:</strong></label>
                            <input type="tel" class="form-control do-not-submit" th:value="|0${dto.phone}|" required readonly>
                        </div>
                        <div class="mb-2">
                            <label class="form-label"><strong>주소:</strong></label>
                            <input type="text" class="form-control do-not-submit" th:value="${dto.address}" required readonly>
                        </div>
                    </div>
                    <div class="col-md-4 img-center slider-box">
                        <button type="button" class="slider-arrow-left" id="left-slider">&lt;</button>
                        <div class="profile-frame mb-3 rounded-circle" id="slider-frame">
                            <th:block th:if="${dto.thumbnails != null && dto.thumbnails.size() > 0}">
                                <img class="profile-img" th:each="fileName: ${dto.thumbnails}" th:src="|/trainer_thumbnail/view/${fileName}|">
                            </th:block>
                            <th:block th:unless="${dto.thumbnails != null && dto.thumbnails.size() > 0}">
                                <img src="https://dummyimage.com/150x150/000/fff" class="profile-img" alt="프로필 사진">
                            </th:block>
                        </div>
                        <button type="button" class="slider-arrow-right" id="right-slider">&gt;</button>
                        <input type="file" accept=".jpg, .jpeg, .png" name="thumbnails" id="thumbnails" class="form-control" multiple>
                        <div class="card mt-3 listbox" id="thumbnails-list" hidden></div>
                    </div>
                </div>
                <br>
                <div>
                    <h4 class="section-title">자기소개</h4>
                    <textarea class="form-control" rows="5" name="content" placeholder="자기소개를 입력하세요" readonly>[[${dto.content}]]</textarea>
                </div>
                <br>
                <div>
                    <h4 class="section-title">학력</h4>
                    <div class="mb-3">
                        <label class="form-label"><strong>최종학력</strong></label>
                        <input type="text" class="form-control do-not-submit" th:value="${dto.academyFinal}" required readonly>
                    </div>
                    <label class="form-label"><strong>학력 상세</strong></label>
                    <input type="text" name="academy" id="academy-real" hidden>
                    <table class="table table-bordered" id="academy-table" th:if="${dto.academy.length > 0}">
                        <thead>
                        <tr>
                            <th>구분</th>
                            <th>상태</th>
                            <th>졸업(예정)일</th>
                            <th>학교명</th>
                            <th>전공</th>
                        </tr>
                        </thead>
                        <tbody id="academy-table-body">
                        </tbody>
                    </table>
                </div>
                <br>
                <div>
                    <h4 class="section-title">경력</h4>
                    <div class="mb-3">
                        <label class="form-label"><strong>경력기간</strong></label>
                        <input type="text" class="form-control do-not-submit" th:value="${dto.careerPeriod == 0 ? '신입' : dto.careerPeriod + '년 이상'}" required readonly>
                    </div>
                    <label class="form-label" th:if="${dto.career.length > 0}"><strong>경력 상세</strong></label>
                    <input type="text" name="career" id="career-real" hidden>
                    <table class="table table-bordered" id="career-table" th:if="${dto.career.length > 0}">
                        <thead>
                        <tr>
                            <th>조직</th>
                            <th>직함</th>
                            <th>기간(년)</th>
                            <th>내용</th>
                        </tr>
                        </thead>
                        <tbody id="career-table-body">
                        </tbody>
                    </table>
                </div>
                <br>
                <div>
                    <h4 class="section-title">자격증</h4>
                    <input type="text" name="license" id="license-real" hidden>
                    <table class="table table-bordered" id="license-table" th:if="${dto.license.length > 0}">
                        <thead>
                        <tr>
                            <th>명칭</th>
                            <th>발급기관</th>
                            <th>취득일</th>
                        </tr>
                        </thead>
                        <tbody id="license-table-body">
                        </tbody>
                    </table>
                </div>
                <br>
                <div>
                    <h4 class="section-title">수상경력</h4>
                    <input type="text" name="prize" id="prize-real" hidden>
                    <table class="table table-bordered" id="prize-table" th:if="${dto.prize.length > 0}">
                        <thead>
                        <tr>
                            <th>명칭</th>
                            <th>수상</th>
                            <th>취득일</th>
                        </tr>
                        </thead>
                        <tbody id="prize-table-body">
                        </tbody>
                    </table>
                </div>
                <br>
                <div>
                    <h4 class="section-title">희망근무조건</h4>
                    <div class="mb-3">
                        <label class="form-label"><strong>업종</strong></label>
                        <input type="text" class="form-control" name="wantJob" th:value="${dto.wantJob}" required readonly>
                    </div>
                    <div class="mb-3">
                        <label class="form-label"><strong>근무형태</strong></label>
                        <input type="text" class="form-control do-not-submit" th:value="${dto.wantType}" required readonly>
                    </div>
                    <div class="mb-3">
                        <label class="form-label"><strong>지역</strong></label>
                        <input type="text" class="form-control do-not-submit" th:value="${dto.wantLegion}" required readonly>
                    </div>
                    <div class="mb-3">
                        <label class="form-label"><strong>근무시간</strong></label>
                        <input type="text" name="wantTime" id="want-time-real" hidden>
                        <div class="time-to-time">
                            <input type="text" class="form-control do-not-submit" th:value="|${dto.wantTime} 시간|" required readonly>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label"><strong>근무일수</strong></label>
                        <div class="time-to-time">
                            <input type="text" class="form-control short-label do-not-submit" th:value="${dto.wantDay}" required readonly>
                            <span class="form-label text-center"></span>
                            <input type="text" class="form-control do-not-submit" th:value="${dto.wantDayType}" required readonly>
                        </div>
                    </div>
                    <div class="mb-3 short-span">
                        <label class="form-label"><strong>희망임금</strong></label>
                        <div class="time-to-time">
                            <input type="number" class="form-control medium-label" min="0" name="wantSal" th:value="${dto.wantSal}" required readonly>
                            <span class="form-label text-center">&#8361;</span>
                            <input type="text" class="form-control do-not-submit" th:value="${dto.wantSalType}" required readonly>
                        </div>
                    </div>
                </div>
                <br>
                <a class="btn btn-primary w-100 modal-btn" id="modify-submit-btn" th:if="${user_memberDTO.userId == dto.userId}" th:href="|@{/trainer/trainer_modify(tid=${dto.trainerId})}&${request.getLink()}|">이력서 수정</a>
                <a class="btn btn-secondary w-100 modal-btn mt-2" id="list-submit-btn" th:href="|@{/trainer/trainer_list}?${request.getLink()}|">뒤로가기</a>
            </form>
        </div>
    </div>
    <script th:inline="javascript">
        const viewDTO = [[${dto}]];
    </script>
    <script src="/js/trainer_function.js"></script>
    <script src="/js/trainer_thumbnail.js"></script>
    <script src="/js/trainer_view.js"></script>
    <script>viewInit(viewDTO);</script>
</div>
</html>