<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}"
      lang="ko">
<head>
    <title>trainer_register</title>
    <link rel="stylesheet" href="/css/trainer.css">
</head>
<div layout:fragment="main">
    <!-- 이력서 등록 폼 -->
    <div class="container mt-5 resume-container">
        <h2 class="text-center mb-4"></h2>
        <div class="card p-4 mb-4 shadow-sm">
            <form action="/trainer/trainer_modify" method="post" id="register-trainer" enctype="multipart/form-data">
                <input type="text" name="userId" th:value="${user_memberDTO.userId}" hidden>
                <input type="text" name="trainerId" th:value="${dto.trainerId}" hidden>
                <div class="row">
                    <div class="col-md-8 top-of-regi">
                        <h4 class="section-title">이력서 수정</h4>
                        <div class="mb-2">
                            <span><strong>*&nbsp;&nbsp;</strong></span>
                            <input type="text" class="form-control" name="title" placeholder="이력서 제목" th:value="${dto.title}" required>
                        </div>
                        <div class="mb-2">
                            <span><strong>*&nbsp;&nbsp;</strong></span>
                            <input type="text" class="form-control do-not-submit" th:value="${all_memberDTO.name}" required readonly>
                        </div>
                        <div class="mb-2">
                            <label class="form-label"><strong>*&nbsp;성별:</strong></label>
                            <input type="text" class="form-control do-not-submit" th:value="${user_memberDTO.uResident.toString().substring(0, 1).equals('1') ? '남' : '여'}" required readonly>
                        </div>
                        <div class="mb-2">
                            <label class="form-label"><strong>*&nbsp;생년월일:</strong></label>
                            <input type="date" class="form-control do-not-submit" th:value="${user_memberDTO.uBirthday}" required readonly>
                        </div>
                        <div class="mb-2">
                            <label class="form-label"><strong>*&nbsp;이메일:</strong></label>
                            <input type="email" class="form-control do-not-submit" th:value="${all_memberDTO.email}" required readonly>
                        </div>
                        <div class="mb-2">
                            <label class="form-label"><strong>*&nbsp;연락처:</strong></label>
                            <input type="tel" class="form-control do-not-submit" th:value="${all_memberDTO.aPhone}" required readonly>
                        </div>
                        <div class="mb-2">
                            <label class="form-label"><strong>*&nbsp;주소:</strong></label>
                            <input type="text" class="form-control do-not-submit" th:value="${user_memberDTO.uAddress}" required readonly>
                        </div>
                    </div>
                    <div class="col-md-4 img-center slider-box">
                        <button type="button" class="slider-arrow-left" id="left-slider">&lt;</button>
                        <div class="profile-frame mb-3 rounded-circle" id="slider-frame">
                            <th:block th:if="${dto.thumbnails != null && dto.thumbnails.size() > 0}">
                                <img class="profile-img" th:each="fileName: ${dto.thumbnails}" th:src="|/trainer_thumbnail/view/${fileName}|">
                            </th:block>
                            <th:block th:unless="${dto.thumbnails != null && dto.thumbnails.size() > 0}">
                                <img src="https://dummyimage.com/150x150/000/fff" class="profile-img" alt="프로필 사진">
                            </th:block>
                        </div>
                        <button type="button" class="slider-arrow-right" id="right-slider">&gt;</button>
                        <label for="thumbnails" class="btn btn-outline-secondary">이미지 선택(PNG, JPG)</label>
                        <input type="file" accept=".jpg, .jpeg, .png" name="thumbnails" id="thumbnails" class="form-control" multiple>
                        <div class="card mt-3 listbox" id="thumbnails-list" hidden></div>
                        <div class="card mt-3 listbox" id="regithumb-list" hidden></div>
                    </div>
                </div>
                <br>
                <div>
                    <h4 class="section-title">자기소개</h4>
                    <textarea class="form-control" rows="5" name="content" placeholder="자기소개를 입력하세요">[[${dto.content}]]</textarea>
                </div>
                <br>
                <div>
                    <h4 class="section-title">학력</h4>
                    <div class="mb-3">
                        <label class="form-label"><strong>*&nbsp;최종학력</strong></label>
                        <select class="form-control" name="academyFinal">
                            <option value="고졸" th:selected="${dto.academyFinal.equals('고졸')}">고졸</option>
                            <option value="대졸" th:selected="${dto.academyFinal.equals('대졸')}">대졸</option>
                            <option value="석사 이상" th:selected="${dto.academyFinal.equals('석사 이상')}">석사 이상</option>
                        </select>
                    </div>
                    <label class="form-label"><strong>*&nbsp;학력 상세</strong></label>
                    <input type="text" name="academy" id="academy-real" hidden>
                    <table class="table table-bordered" id="academy-table">
                        <thead>
                        <tr>
                            <th>구분</th>
                            <th>상태</th>
                            <th>졸업(예정)일</th>
                            <th>학교명</th>
                            <th>전공</th>
                        </tr>
                        </thead>
                        <tbody id="academy-table-body">
                        <tr th:unless="${dto.academy.length > 0}">
                            <td>
                                <select class="form-control do-not-submit">
                                    <option value="고등학교">고등학교</option>
                                    <option value="전문대학교">전문대학교</option>
                                    <option value="대학교">대학교</option>
                                    <option value="대학원">대학원</option>
                                </select>
                            </td>
                            <td>
                                <select class="form-control do-not-submit">
                                    <option value="졸업">졸업</option>
                                    <option value="재학">재학</option>
                                    <option value="휴학">휴학</option>
                                    <option value="중퇴">중퇴</option>
                                </select>
                            </td>
                            <td><input type="date" class="form-control do-not-submit" required></td>
                            <td><input type="text" class="form-control do-not-submit" placeholder="학교명" required></td>
                            <td><input type="text" class="form-control do-not-submit" value="-" required></td>
                        </tr>
                        </tbody>
                    </table>
                    <button type="button" class="btn btn-light" id="academy-plus">&plus;&nbsp;추가</button>
                    <button type="button" class="btn btn-light" id="academy-minus">&minus;&nbsp;제거</button>
                </div>
                <br>
                <div>
                    <h4 class="section-title">경력</h4>
                    <div class="mb-3">
                        <label class="form-label"><strong>*&nbsp;경력기간</strong></label>
                        <select class="form-control" name="careerPeriod">
                            <option value="0" th:selected="${dto.careerPeriod == 0}">신입</option>
                            <option value="1" th:selected="${dto.careerPeriod == 1}">1년 이상</option>
                            <option value="3" th:selected="${dto.careerPeriod == 3}">3년 이상</option>
                            <option value="5" th:selected="${dto.careerPeriod == 5}">5년 이상</option>
                        </select>
                    </div>
                    <label class="form-label"><strong>경력 상세</strong></label>
                    <input type="text" name="career" id="career-real" hidden>
                    <table class="table table-bordered" id="career-table">
                        <thead>
                        <tr>
                            <th>조직</th>
                            <th>직함</th>
                            <th>기간(년)</th>
                            <th>내용</th>
                        </tr>
                        </thead>
                        <tbody id="career-table-body">
                        <tr th:unless="${dto.career.length > 0}">
                            <td><input type="text" class="form-control do-not-submit" placeholder="조직명"></td>
                            <td><input type="text" class="form-control do-not-submit" placeholder="직함"></td>
                            <td><input type="number" class="form-control do-not-submit" min="0" placeholder="기간"></td>
                            <td><input type="text" class="form-control do-not-submit" placeholder="경력 내용"></td>
                        </tr>
                        </tbody>
                    </table>
                    <button type="button" class="btn btn-light" id="career-plus">&plus;&nbsp;추가</button>
                    <button type="button" class="btn btn-light" id="career-minus">&minus;&nbsp;제거</button>
                </div>
                <br>
                <div>
                    <h4 class="section-title">자격증</h4>
                    <input type="text" name="license" id="license-real" hidden>
                    <table class="table table-bordered" id="license-table">
                        <thead>
                        <tr>
                            <th>명칭</th>
                            <th>발급기관</th>
                            <th>취득일</th>
                        </tr>
                        </thead>
                        <tbody id="license-table-body">
                        <tr th:unless="${dto.license.length > 0}">
                            <td><input type="text" class="form-control do-not-submit" placeholder="명칭"></td>
                            <td><input type="text" class="form-control do-not-submit" placeholder="기관명"></td>
                            <td><input type="date" class="form-control do-not-submit"></td>
                        </tr>
                        </tbody>
                    </table>
                    <button type="button" class="btn btn-light" id="license-plus">&plus;&nbsp;추가</button>
                    <button type="button" class="btn btn-light" id="license-minus">&minus;&nbsp;제거</button>
                </div>
                <br>
                <div>
                    <h4 class="section-title">수상경력</h4>
                    <input type="text" name="prize" id="prize-real" hidden>
                    <table class="table table-bordered" id="prize-table">
                        <thead>
                        <tr>
                            <th>명칭</th>
                            <th>수상</th>
                            <th>취득일</th>
                        </tr>
                        </thead>
                        <tbody id="prize-table-body">
                        <tr th:unless="${dto.prize.length > 0}">
                            <td><input type="text" class="form-control do-not-submit" placeholder="명칭"></td>
                            <td><input type="text" class="form-control do-not-submit" placeholder="내용"></td>
                            <td><input type="date" class="form-control do-not-submit"></td>
                        </tr>
                        </tbody>
                    </table>
                    <button type="button" class="btn btn-light" id="prize-plus">&plus;&nbsp;추가</button>
                    <button type="button" class="btn btn-light" id="prize-minus">&minus;&nbsp;제거</button>
                </div>
                <br>
                <div>
                    <h4 class="section-title">희망근무조건</h4>
                    <div class="mb-3">
                        <label class="form-label"><strong>*&nbsp;업종</strong></label>
                        <input type="text" class="form-control" name="wantJob" placeholder="ex)피트니스강사" th:value="${dto.wantJob}" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label"><strong>*&nbsp;근무형태</strong></label>
                        <select class="form-control" name="wantType">
                            <option value="정규직" th:selected="${dto.wantType.equals('정규직')}">정규직</option>
                            <option value="계약직" th:selected="${dto.wantType.equals('계약직')}">계약직</option>
                            <option value="계약직(정규직전환가능)" th:selected="${dto.wantType.equals('계약직(정규직전환가능)')}">계약직(정규직전환가능)</option>
                            <option value="인턴직" th:selected="${dto.wantType.equals('인턴직')}">인턴직</option>
                            <option value="인턴직(정규직전환가능)" th:selected="${dto.wantType.equals('인턴직(정규직전환가능)')}">인턴직(정규직전환가능)</option>
                            <option value="아르바이트" th:selected="${dto.wantType.equals('아르바이트')}">아르바이트</option>
                            <option value="파견직" th:selected="${dto.wantType.equals('파견직')}">파견직</option>
                            <option value="프리랜서" th:selected="${dto.wantType.equals('프리랜서')}">프리랜서</option>
                            <oprion value="교육생" th:selected="${dto.wantType.equals('교육생')}">교육생</oprion>
                            <option value="파트타임" th:selected="${dto.wantType.equals('파트타임')}">파트타임</option>
                            <option value="전임" th:selected="${dto.wantType.equals('전임')}">전임</option>
                            <option value="기간제" th:selected="${dto.wantType.equals('기간제')}">기간제</option>
                            <option value="일용" th:selected="${dto.wantType.equals('일용')}">일용</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label"><strong>*&nbsp;지역</strong></label>
                        <select class="form-control" name="wantLegion">
                            <option value="서울" th:selected="${dto.wantLegion.equals('서울')}">서울</option>
                            <option value="경기도" th:selected="${dto.wantLegion.equals('경기도')}">경기도</option>
                            <option value="대전" th:selected="${dto.wantLegion.equals('대전')}">대전</option>
                            <option value="부산" th:selected="${dto.wantLegion.equals('부산')}">부산</option>
                            <option value="천안" th:selected="${dto.wantLegion.equals('천안')}">천안</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label"><strong>*&nbsp;근무시간</strong></label>
                        <input type="text" name="wantTime" id="want-time-real" hidden>
                        <div class="time-to-time">
                            <input type="time" class="form-control medium-label do-not-submit" id="work-start" required>
                            <span class="form-label text-center">&Tilde;</span>
                            <input type="time" class="form-control medium-label do-not-submit" id="work-end" required>
                            <span class="form-label text-center" id="worktime-counter">: 0.0시간</span>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label"><strong>*&nbsp;근무일수</strong></label>
                        <div class="time-to-time">
                            <select class="form-control medium-label" name="wantDay">
                                <option value="1" th:selected="${dto.wantDay == 1}">주 1일</option>
                                <option value="2" th:selected="${dto.wantDay == 2}">주 2일</option>
                                <option value="3" th:selected="${dto.wantDay == 3}">주 3일</option>
                                <option value="4" th:selected="${dto.wantDay == 4}">주 4일</option>
                                <option value="5" th:selected="${dto.wantDay == 5}">주 5일</option>
                                <option value="6" th:selected="${dto.wantDay == 6}">주 6일</option>
                                <option value="7" th:selected="${dto.wantDay == 7}">주 7일</option>
                            </select>
                            <span class="form-label text-center"></span>
                            <select class="form-control medium-label" name="wantDayType" required>
                                <option value="평일" th:selected="${dto.wantDayType.equals('평일')}">평일</option>
                                <option value="주말" th:selected="${dto.wantDayType.equals('주말')}">주말</option>
                                <option value="평일, 주말" th:selected="${dto.wantDayType.equals('평일, 주말')}">평일, 주말</option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-3 short-span">
                        <label class="form-label"><strong>*&nbsp;희망임금</strong></label>
                        <div class="time-to-time">
                            <input type="number" class="form-control medium-label" min="0" name="wantSal" placeholder="10030" th:value="${dto.wantSal}" required>
                            <span class="form-label text-center">&#8361;</span>
                            <select class="form-control fit-label" name="wantSalType">
                                <option value="시급" th:selected="${dto.wantSalType.equals('시급')}">시급</option>
                                <option value="일급" th:selected="${dto.wantSalType.equals('일급')}">일급</option>
                                <option value="주급" th:selected="${dto.wantSalType.equals('주급')}">주급</option>
                                <option value="월급" th:selected="${dto.wantSalType.equals('월급')}">월급</option>
                                <option value="연봉" th:selected="${dto.wantSalType.equals('연봉')}">연봉</option>
                            </select>
                        </div>
                    </div>
                </div>
                <br>
                <button type="submit" class="btn btn-success w-100 modal-btn" id="register-submit-btn">수정 완료</button>
                <button type="button" class="btn btn-danger w-100 modal-btn" id="register-delete-btn">삭제</button>
                <a class="btn btn-secondary w-100 modal-btn mt-2" id="list-submit-btn" th:href="|@{/trainer/trainer_view}?tid=${dto.trainerId}|">뒤로가기</a>
            </form>
        </div>
    </div>
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel"> <span class="rogo-span">OneFit</span> 이력서 삭제</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body delete-modal-body">
                    <div class="mb-3">
                        <p>이력서를 삭제하시려면 아래에 "이력서삭제" 라는 문자열을 정확히 입력해 주세요. <b>삭제한 후에는 다시 복구할 수 없습니다.</b></p>
                    </div>
                    <div class="tab-content mt-3" id="deleteTabContent">
                        <form>
                            <div class="mb-3">
                                <label for="delete-confirm-text" class="form-label">삭제확인</label>
                                <input type="text" class="form-control" id="delete-confirm-text" placeholder="삭제문구입력" required>
                            </div>
                            <button type="submit" class="btn btn-danger w-100 modal-btn" id="deleteButton">삭제하기</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        const modDTO = [[${dto}]];
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/trainer_function.js"></script>
    <script src="/js/trainer_register.js"></script>
    <script src="/js/trainer_thumbnail.js"></script>
    <script src="/js/trainer_modify.js"></script>
</div>
</html>