<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}"
      lang="ko">
<head>
    <title>OneFit - 체육시설업 포털</title>
    <link rel="stylesheet" href="/css/trainer_list.css">
    <link rel="stylesheet" href="/css/pagination.css">
</head>
<div layout:fragment="main" class="smoke">
    <!-- 채용공고 컨텐츠 -->
    <section class="pt-1">
        <div class="container mt-4">
            <!-- 검색 필터 -->
            <h2>상세 검색</h2>
            <hr>
            <form>
                <div class="row mb-3">
                    <div class="col-md-2">
                        <label for="experience" class="form-label">경력 선택</label>
                        <select id="experience" class="form-select">
                            <option selected>전체</option>
                            <option>신입</option>
                            <option>1년</option>
                            <option>3년</option>
                            <option>5년 이상</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label for="education" class="form-label">학력 선택</label>
                        <select id="education" class="form-select">
                            <option selected>전체</option>
                            <option>고졸</option>
                            <option>대졸</option>
                            <option>석사 이상</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label for="region" class="form-label">지역 선택</label>
                        <select id="region" class="form-select">
                            <option selected>수원시 영통구</option>
                            <option>서울특별시</option>
                            <option>부산광역시</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-2">
                        <label for="sort" class="form-label"></label>
                        <select id="sort" class="form-select">
                            <option selected>정렬 조건</option>
                            <option>최신등록순</option>
                            <option>최근수정순</option>
                            <option>경력순</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="job" class="form-label"></label>
                        <select id="job" class="form-select">
                            <option selected>20개씩</option>
                            <option>10개씩</option>
                            <option>4개씩</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <section>
        <div class="container mt-5">
            <div class="d-flex justify-content-between align-items-center mb-4">
                <h2 style="margin-bottom: 50px;">전체 강사정보 <span class="text-primary">1,513건</span></h2>
                <a href="/trainer/trainer_register" class="btn btn-primary btn-lg">이력서 등록 +</a>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <div class=" card p-4 mb-4 shadow-sm">
                        <div class="d-flex align-items-center">
                            <img src="https://dummyimage.com/150x150/000/fff" class="rounded-circle me-4" alt="김철수">
                            <div>
                                <div class="resume-header">
                                    <h4 class="mb-1">웹 개발자</h4>
                                    <button type="button" class="btn btn-outline-secondary viewbtn">이력서 열람</button>
                                </div>

                                <div>
                                    <p class="mb-1">김철수</p>
                                </div>
                                <br>
                                <br>
                                <div class="resume-footer">
                                    <p class="mb-1">5년 | 필라테스 | 연봉3000만원</p>
                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                    <p class="mb-1 text-muted"><strong>작성일:</strong> 2024-03-11</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class=" card p-4 mb-4 shadow-sm">
                        <div class="d-flex align-items-center">
                            <img src="https://dummyimage.com/150x150/000/fff" class="rounded-circle me-4" alt="김철수">
                            <div>
                                <div class="resume-header">
                                    <h4 class="mb-1">웹 개발자</h4>
                                    <button type="button" class="btn btn-outline-secondary viewbtn">이력서 열람</button>
                                </div>
                                <div>
                                    <p class="mb-1">김철수</p>
                                </div>
                                <br>
                                <br>
                                <div class="resume-footer">
                                    <p class="mb-1">5년 | 필라테스 | 연봉3000만원</p>
                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                    <p class="mb-1 text-muted"><strong>작성일:</strong> 2024-03-11</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class=" card p-4 mb-4 shadow-sm">
                        <div class="d-flex align-items-center">
                            <img src="https://dummyimage.com/150x150/000/fff" class="rounded-circle me-4" alt="김철수">
                            <div>
                                <div class="resume-header">
                                    <h4 class="mb-1">웹 개발자</h4>
                                    <button type="button" class="btn btn-outline-secondary viewbtn">이력서 열람</button>
                                </div>
                                <div>
                                    <p class="mb-1">김철수</p>
                                </div>
                                <br>
                                <br>
                                <div class="resume-footer">
                                    <p class="mb-1">5년 | 필라테스 | 연봉3000만원</p>
                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                    <p class="mb-1 text-muted"><strong>작성일:</strong> 2024-03-11</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class=" card p-4 mb-4 shadow-sm">
                        <div class="d-flex align-items-center">
                            <img src="https://dummyimage.com/150x150/000/fff" class="rounded-circle me-4" alt="김철수">
                            <div>
                                <div class="resume-header">
                                    <h4 class="mb-1">웹 개발자</h4>
                                    <button type="button" class="btn btn-outline-secondary viewbtn">이력서 열람</button>
                                </div>
                                <div>
                                    <p class="mb-1">김철수</p>
                                </div>
                                <br>
                                <br>
                                <div class="resume-footer">
                                    <p class="mb-1">5년 | 필라테스 | 연봉3000만원</p>
                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                    <p class="mb-1 text-muted"><strong>작성일:</strong> 2024-03-11</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <ul class="pagination justify-content-center">
                    <a href="#" class="is-deactive"><li class="pagearrow leftarrow">&lt;</li></a>
                    <a href="#" class="is-active"><li class="pageitem">1</li></a>
                    <a href="#"><li class="pageitem">2</li></a>
                    <a href="#"><li class="pageitem">3</li></a>
                    <a href="#"><li class="pageitem">4</li></a>
                    <a href="#"><li class="pagearrow rightarrow">&gt;</li></a>
                </ul>
                <!-- <ul class="pagination justify-content-center">
                    <li class="page-item"><a class="page-link" href="#">이전</a></li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">다음</a></li>
                </ul> -->
            </div>
        </div>
    </section>
    <!-- 이력서 모달창 -->
    <div class="modal fade" id="trainerModal" tabindex="-1" aria-labelledby="trainerModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-wide">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="trainerModalLabel"> <span class="rogo-span">OneFit</span> 이력서 바로보기</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body trainer-modal-body">
                    <div class="tab-content" id="trainerTabContent">
                        <div class="container resume-container">
                            <h2 class="text-center mb-4"></h2>
                            <div class="card p-4 mb-4 shadow-sm">
                                <form class="no-outline">
                                    <div class="row">
                                        <div class="col-md-8 top-of-regi">
                                            <h4 class="section-title">이력서 제목</h4>
                                            <div class="mb-2">
                                                <label class="form-label"><strong>이름:</strong></label>
                                                <input type="text" class="form-control" placeholder="이름" readonly>
                                            </div>
                                            <div class="mb-2">
                                                <label class="form-label"><strong>성별:</strong></label>
                                                <select class="form-control">
                                                    <option>남</option>
                                                    <option>여</option>
                                                </select>
                                            </div>
                                            <div class="mb-2">
                                                <label class="form-label"><strong>생년월일:</strong></label>
                                                <input type="date" class="form-control" readonly>
                                            </div>
                                            <div class="mb-2">
                                                <label class="form-label"><strong>이메일:</strong></label>
                                                <input type="email" class="form-control" placeholder="name@sample.email" readonly>
                                            </div>
                                            <div class="mb-2">
                                                <label class="form-label"><strong>연락처:</strong></label>
                                                <input type="tel" class="form-control" placeholder="010-1234-5678" readonly>
                                            </div>
                                            <div class="mb-2">
                                                <label class="form-label"><strong>주소:</strong></label>
                                                <input type="text" class="form-control" placeholder="OO도 OO시 OO로 OO" readonly>
                                            </div>
                                        </div>
                                        <div class="col-md-4 img-center">
                                            <img src="https://dummyimage.com/150x150/000/fff" class="rounded-circle profile-img mb-3" alt="프로필 사진">
                                            <!--                            <input type="file" class="form-control">-->
                                        </div>
                                    </div>
                                </form>
                                <br>
                                <form class="no-outline">
                                    <div>
                                        <h4 class="section-title">자기소개</h4>
                                        <textarea class="form-control" rows="5" placeholder="자기소개를 입력하세요" readonly></textarea>
                                    </div>
                                    <br>
                                    <div>
                                        <h4 class="section-title">학력</h4>
                                        <div class="mb-3">
                                            <label class="form-label"><strong>최종학력</strong></label>
                                            <select class="form-control">
                                                <option value="고졸">고졸</option>
                                                <option value="대졸">대졸</option>
                                                <option value="석사 이상">석사 이상</option>
                                            </select>
                                        </div>
                                        <label class="form-label"><strong>학력 상세</strong></label>
                                        <table class="table table-bordered" id="academy-table">
                                            <thead>
                                            <tr>
                                                <th>구분</th>
                                                <th>상태</th>
                                                <th>졸업(예정)일</th>
                                                <th>학교명</th>
                                                <th>전공</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>
                                                    <select class="form-control">
                                                        <option value="고등학교">고등학교</option>
                                                        <option value="전문대학교">전문대학교</option>
                                                        <option value="대학교">대학교</option>
                                                        <option value="대학원">대학원</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select class="form-control">
                                                        <option value="졸업">졸업</option>
                                                        <option value="재학">재학</option>
                                                        <option value="휴학">휴학</option>
                                                        <option value="중퇴">중퇴</option>
                                                    </select>
                                                </td>
                                                <td><input type="date" class="form-control" readonly></td>
                                                <td><input type="text" class="form-control" placeholder="학교명" readonly></td>
                                                <td><input type="text" class="form-control" value="-" readonly></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <br>
                                    <div>
                                        <h4 class="section-title">경력</h4>
                                        <div class="mb-3">
                                            <label class="form-label"><strong>경력기간</strong></label>
                                            <select class="form-control">
                                                <option>신입</option>
                                                <option>1년 이상</option>
                                                <option>3년 이상</option>
                                                <option>5년 이상</option>
                                            </select>
                                        </div>
                                        <label class="form-label"><strong>경력 상세</strong></label>
                                        <table class="table table-bordered" id="career-table">
                                            <thead>
                                            <tr>
                                                <th>조직</th>
                                                <th>직함</th>
                                                <th>기간(년)</th>
                                                <th>내용</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td><input type="text" class="form-control" placeholder="조직명" readonly></td>
                                                <td><input type="text" class="form-control" placeholder="직함" readonly></td>
                                                <td><input type="number" class="form-control" min="0" placeholder="기간" readonly></td>
                                                <td><input type="text" class="form-control" placeholder="경력 내용" readonly></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <br>
                                    <div>
                                        <h4 class="section-title">자격증</h4>
                                        <table class="table table-bordered" id="license-table">
                                            <thead>
                                            <tr>
                                                <th>명칭</th>
                                                <th>발급기관</th>
                                                <th>취득일</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td><input type="text" class="form-control" placeholder="명칭" readonly></td>
                                                <td><input type="text" class="form-control" placeholder="기관명" readonly></td>
                                                <td><input type="date" class="form-control" readonly></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <br>
                                    <div>
                                        <h4 class="section-title">수상경력</h4>
                                        <table class="table table-bordered" id="prize-table">
                                            <thead>
                                            <tr>
                                                <th>명칭</th>
                                                <th>수상</th>
                                                <th>취득일</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td><input type="text" class="form-control" placeholder="명칭" readonly></td>
                                                <td><input type="text" class="form-control" placeholder="내용" readonly></td>
                                                <td><input type="date" class="form-control" readonly></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <br>
                                </form>
                            </div>
                            <a href="/trainer/trainer_view" class="btn btn-primary w-100 modal-btn" id="register-submit-btn">페이지에서 보기</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/trainer_list.js"></script>
</div>
</html>