<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}"
      lang="ko">
<head>
    <title>trainer_view</title>
    <link rel="stylesheet" href="/css/trainer.css">
</head>
<div layout:fragment="main">
    <!-- 이력서 등록 폼 -->
    <div class="container mt-5 resume-container">
        <h2 class="text-center mb-4"></h2>
        <div class="card p-4 mb-4 shadow-sm">
            <form class="no-outline">
<!--            <form action="/trainer/trainer_register" method="post" id="register-trainer" enctype="multipart/form-data">-->
                <input type="text" name="userId" value="1" hidden>
                <div class="row">
                    <div class="col-md-8 top-of-regi">
                        <h4 class="section-title">[[${dto.title}]]</h4>
                        <div class="mb-2">
                            <label class="form-label"><strong>이름:</strong></label>
                            <input type="text" class="form-control do-not-submit" th:value="${dto.name}" required readonly>
                        </div>
                        <div class="mb-2">
                            <label class="form-label"><strong>성별:</strong></label>
                            <input type="text" class="form-control do-not-submit" th:value="${dto.gender}" required readonly>
                        </div>
                        <div class="mb-2">
                            <label class="form-label"><strong>생년월일:</strong></label>
                            <input type="date" class="form-control do-not-submit" th:value="${dto.birthday}" required readonly>
                        </div>
                        <div class="mb-2">
                            <label class="form-label"><strong>이메일:</strong></label>
                            <input type="email" class="form-control do-not-submit" th:value="${dto.email}" required readonly>
                        </div>
                        <div class="mb-2">
                            <label class="form-label"><strong>연락처:</strong></label>
                            <input type="tel" class="form-control do-not-submit" th:value="|0${dto.phone}|" required readonly>
                        </div>
                        <div class="mb-2">
                            <label class="form-label"><strong>주소:</strong></label>
                            <input type="text" class="form-control do-not-submit" th:value="${dto.address}" required readonly>
                        </div>
                    </div>
                    <div class="col-md-4 img-center slider-box">
                        <button type="button" class="slider-arrow-left" id="left-slider">&lt;</button>
                        <div class="profile-frame mb-3 rounded-circle" id="slider-frame">
                            <img src="https://dummyimage.com/150x150/000/fff" class="profile-img" alt="프로필 사진">
                        </div>
                        <button type="button" class="slider-arrow-right" id="right-slider">&gt;</button>
                        <input type="file" accept=".jpg, .jpeg, .png" name="thumbnails" id="thumbnails" class="form-control" multiple>
                        <div class="card mt-3 listbox" id="thumbnails-list" hidden></div>
                    </div>
                </div>
                <br>
                <div>
                    <h4 class="section-title">자기소개</h4>
                    <textarea class="form-control" rows="5" name="content" placeholder="자기소개를 입력하세요" readonly>[[${dto.content}]]</textarea>
                </div>
                <br>
                <div>
                    <h4 class="section-title">학력</h4>
                    <div class="mb-3">
                        <label class="form-label"><strong>최종학력</strong></label>
                        <input type="text" class="form-control do-not-submit" th:value="${dto.academyFinal}" required readonly>
                    </div>
                    <label class="form-label"><strong>학력 상세</strong></label>
                    <input type="text" name="academy" id="academy-real" hidden>
                    <table class="table table-bordered" id="academy-table">
                        <thead>
                        <tr>
                            <th>구분</th>
                            <th>상태</th>
                            <th>졸업(예정)일</th>
                            <th>학교명</th>
                            <th>전공</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <input type="text" class="form-control do-not-submit" placeholder="학교구분" required readonly>
                            </td>
                            <td>
                                <input type="text" class="form-control do-not-submit" placeholder="상태" required readonly>
                            </td>
                            <td><input type="date" class="form-control do-not-submit" required readonly></td>
                            <td><input type="text" class="form-control do-not-submit" placeholder="학교명" required readonly></td>
                            <td><input type="text" class="form-control do-not-submit" value="-" required readonly></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <br>
                <div>
                    <h4 class="section-title">경력</h4>
                    <div class="mb-3">
                        <label class="form-label"><strong>경력기간</strong></label>
                        <input type="text" class="form-control do-not-submit" placeholder="경력기간" required readonly>
                    </div>
                    <label class="form-label"><strong>경력 상세</strong></label>
                    <input type="text" name="career" id="career-real" hidden>
                    <table class="table table-bordered" id="career-table">
                        <thead>
                        <tr>
                            <th>조직</th>
                            <th>직함</th>
                            <th>기간(년)</th>
                            <th>내용</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><input type="text" class="form-control do-not-submit" placeholder="조직명" readonly></td>
                            <td><input type="text" class="form-control do-not-submit" placeholder="직함" readonly></td>
                            <td><input type="number" class="form-control do-not-submit" min="0" placeholder="기간" readonly></td>
                            <td><input type="text" class="form-control do-not-submit" placeholder="경력 내용" readonly></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <br>
                <div>
                    <h4 class="section-title">자격증</h4>
                    <input type="text" name="license" id="license-real" hidden>
                    <table class="table table-bordered" id="license-table">
                        <thead>
                        <tr>
                            <th>명칭</th>
                            <th>발급기관</th>
                            <th>취득일</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><input type="text" class="form-control do-not-submit" placeholder="명칭" readonly></td>
                            <td><input type="text" class="form-control do-not-submit" placeholder="기관명" readonly></td>
                            <td><input type="date" class="form-control do-not-submit" readonly></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <br>
                <div>
                    <h4 class="section-title">수상경력</h4>
                    <input type="text" name="prize" id="prize-real" hidden>
                    <table class="table table-bordered" id="prize-table">
                        <thead>
                        <tr>
                            <th>명칭</th>
                            <th>수상</th>
                            <th>취득일</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><input type="text" class="form-control do-not-submit" placeholder="명칭" readonly></td>
                            <td><input type="text" class="form-control do-not-submit" placeholder="내용" readonly></td>
                            <td><input type="date" class="form-control do-not-submit" readonly></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <br>
                <div>
                    <h4 class="section-title">희망근무조건</h4>
                    <div class="mb-3">
                        <label class="form-label"><strong>업종</strong></label>
                        <input type="text" class="form-control" name="wantJob" placeholder="희망업종" required readonly>
                    </div>
                    <div class="mb-3">
                        <label class="form-label"><strong>근무형태</strong></label>
                        <input type="text" class="form-control do-not-submit" placeholder="희망형태" required readonly>
                    </div>
                    <div class="mb-3">
                        <label class="form-label"><strong>지역</strong></label>
                        <input type="text" class="form-control do-not-submit" placeholder="희망지역" required readonly>
                    </div>
                    <div class="mb-3">
                        <label class="form-label"><strong>근무시간</strong></label>
                        <input type="text" name="wantTime" id="want-time-real" hidden>
                        <div class="time-to-time">
                            <input type="time" class="form-control medium-label do-not-submit" id="work-start" required readonly>
                            <span class="form-label text-center">&Tilde;</span>
                            <input type="time" class="form-control medium-label do-not-submit" id="work-end" required readonly>
                            <span class="form-label text-center" id="worktime-counter">: 0.0시간</span>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label"><strong>근무일수</strong></label>
                        <div class="time-to-time">
                            <input type="text" class="form-control medium-label do-not-submit" placeholder="희망일수" required readonly>
                            <span class="form-label text-center"></span>
                            <input type="text" class="form-control do-not-submit" placeholder="희망일" required readonly>
                        </div>
                    </div>
                    <div class="mb-3 short-span">
                        <label class="form-label"><strong>희망임금</strong></label>
                        <div class="time-to-time">
                            <input type="number" class="form-control medium-label" min="0" name="wantSal" placeholder="10030" required readonly>
                            <span class="form-label text-center">&#8361;</span>
                            <input type="text" class="form-control do-not-submit" placeholder="임금" required readonly>
                        </div>
                    </div>
                </div>
                <br>
                <button type="submit" class="btn btn-primary w-100 modal-btn" id="modify-submit-btn">이력서 수정</button>
            </form>
        </div>
    </div>
    <script src="/js/trainer_function.js"></script>
    <script src="/js/trainer_thumbnail.js"></script>
    <script src="/js/trainer_view.js"></script>
</div>
</html>