<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}"
      lang="ko">
<head>
    <title>trainer_register</title>
    <link rel="stylesheet" href="/css/trainer.css">
</head>
<div layout:fragment="main">
    <!-- 이력서 등록 폼 -->
      <div class="container mt-5 resume-container">
        <h2 class="text-center mb-4"></h2>
          <div class="card p-4 mb-4 shadow-sm">
              <form action="/trainer/trainer_register" method="post" id="register-trainer" enctype="multipart/form-data">
                  <input type="text" name="userId" value="1" hidden>
                  <div class="row">
                      <div class="col-md-8 top-of-regi">
                          <h4 class="section-title">이력서 작성</h4>
                          <div class="mb-2">
                              <span><strong>*&nbsp;&nbsp;</strong></span>
                              <input type="text" class="form-control" name="title" placeholder="이력서 제목" required>
                          </div>
                          <div class="mb-2">
                              <span><strong>*&nbsp;&nbsp;</strong></span>
                              <input type="text" class="form-control do-not-submit" placeholder="이름" required>
                          </div>
                          <div class="mb-2">
                              <label class="form-label"><strong>*&nbsp;성별:</strong></label>
                              <select class="form-control do-not-submit">
                                  <option value="남">남</option>
                                  <option value="여">여</option>
                              </select>
                          </div>
                          <div class="mb-2">
                              <label class="form-label"><strong>*&nbsp;생년월일:</strong></label>
                              <input type="date" class="form-control do-not-submit" required>
                          </div>
                          <div class="mb-2">
                              <label class="form-label"><strong>*&nbsp;이메일:</strong></label>
                              <input type="email" class="form-control do-not-submit" placeholder="name@sample.email" required>
                          </div>
                          <div class="mb-2">
                              <label class="form-label"><strong>*&nbsp;연락처:</strong></label>
                              <input type="tel" class="form-control do-not-submit" placeholder="010-1234-5678" required>
                          </div>
                          <div class="mb-2">
                              <label class="form-label"><strong>*&nbsp;주소:</strong></label>
                              <input type="text" class="form-control do-not-submit" placeholder="OO도 OO시 OO로 OO" required>
                          </div>
                      </div>
                      <div class="col-md-4 img-center slider-box">
                          <button type="button" class="slider-arrow-left" id="left-slider">&lt;</button>
                          <div class="profile-frame mb-3 rounded-circle" id="slider-frame">
                              <img src="https://dummyimage.com/150x150/000/fff" class="profile-img" alt="프로필 사진">
                          </div>
                          <button type="button" class="slider-arrow-right" id="right-slider">&gt;</button>
                          <input type="file" accept="image/*" name="thumbnails" id="thumbnails" class="form-control" multiple>
                      </div>
                  </div>
                  <br>
                  <div>
                      <h4 class="section-title">자기소개</h4>
                      <textarea class="form-control" rows="5" name="content" placeholder="자기소개를 입력하세요"></textarea>
                  </div>
                  <br>
                  <div>
                  <h4 class="section-title">학력</h4>
                  <div class="mb-3">
                    <label class="form-label"><strong>*&nbsp;최종학력</strong></label>
                    <select class="form-control" name="academyFinal">
                        <option value="고졸">고졸</option>
                        <option value="대졸">대졸</option>
                        <option value="석사 이상">석사 이상</option>
                    </select>
                  </div>
                  <label class="form-label"><strong>*&nbsp;학력 상세</strong></label>
                      <input type="text" name="academy" id="academy-real" hidden>
                      <table class="table table-bordered" id="academy-table">
                        <thead>
                            <tr>
                                <th>구분</th>
                                <th>상태</th>
                                <th>졸업(예정)일</th>
                                <th>학교명</th>
                                <th>전공</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <select class="form-control do-not-submit">
                                        <option value="고등학교">고등학교</option>
                                        <option value="전문대학교">전문대학교</option>
                                        <option value="대학교">대학교</option>
                                        <option value="대학원">대학원</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="form-control do-not-submit">
                                        <option value="졸업">졸업</option>
                                        <option value="재학">재학</option>
                                        <option value="휴학">휴학</option>
                                        <option value="중퇴">중퇴</option>
                                    </select>
                                </td>
                                <td><input type="date" class="form-control do-not-submit" required></td>
                                <td><input type="text" class="form-control do-not-submit" placeholder="학교명" required></td>
                                <td><input type="text" class="form-control do-not-submit" value="-" required></td>
                            </tr>
                        </tbody>
                    </table>
                    <button type="button" class="btn btn-light" id="academy-plus">&plus;&nbsp;추가</button>
                    <button type="button" class="btn btn-light" id="academy-minus">&minus;&nbsp;제거</button>
                  </div>
                  <br>
                  <div>
                      <h4 class="section-title">경력</h4>
                      <div class="mb-3">
                        <label class="form-label"><strong>*&nbsp;경력기간</strong></label>
                        <select class="form-control" name="careerPeriod">
                            <option value="0">신입</option>
                            <option value="1">1년 이상</option>
                            <option value="3">3년 이상</option>
                            <option value="5">5년 이상</option>
                        </select>
                      </div>
                      <label class="form-label"><strong>경력 상세</strong></label>
                      <input type="text" name="career" id="career-real" hidden>
                      <table class="table table-bordered" id="career-table">
                            <thead>
                                <tr>
                                    <th>조직</th>
                                    <th>직함</th>
                                    <th>기간(년)</th>
                                    <th>내용</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                  <td><input type="text" class="form-control do-not-submit" placeholder="조직명"></td>
                                  <td><input type="text" class="form-control do-not-submit" placeholder="직함"></td>
                                  <td><input type="number" class="form-control do-not-submit" min="0" placeholder="기간"></td>
                                  <td><input type="text" class="form-control do-not-submit" placeholder="경력 내용"></td>
                                </tr>
                            </tbody>
                    </table>
                    <button type="button" class="btn btn-light" id="career-plus">&plus;&nbsp;추가</button>
                    <button type="button" class="btn btn-light" id="career-minus">&minus;&nbsp;제거</button>
                  </div>
                  <br>
                  <div>
                    <h4 class="section-title">자격증</h4>
                      <input type="text" name="license" id="license-real" hidden>
                    <table class="table table-bordered" id="license-table">
                            <thead>
                                <tr>
                                    <th>명칭</th>
                                    <th>발급기관</th>
                                    <th>취득일</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                  <td><input type="text" class="form-control do-not-submit" placeholder="명칭"></td>
                                  <td><input type="text" class="form-control do-not-submit" placeholder="기관명"></td>
                                  <td><input type="date" class="form-control do-not-submit"></td>
                                </tr>
                            </tbody>
                    </table>
                    <button type="button" class="btn btn-light" id="license-plus">&plus;&nbsp;추가</button>
                    <button type="button" class="btn btn-light" id="license-minus">&minus;&nbsp;제거</button>
                  </div>
                  <br>
                  <div>
                    <h4 class="section-title">수상경력</h4>
                      <input type="text" name="prize" id="prize-real" hidden>
                    <table class="table table-bordered" id="prize-table">
                            <thead>
                                <tr>
                                    <th>명칭</th>
                                    <th>수상</th>
                                    <th>취득일</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                  <td><input type="text" class="form-control do-not-submit" placeholder="명칭"></td>
                                  <td><input type="text" class="form-control do-not-submit" placeholder="내용"></td>
                                  <td><input type="date" class="form-control do-not-submit"></td>
                                </tr>
                            </tbody>
                    </table>
                    <button type="button" class="btn btn-light" id="prize-plus">&plus;&nbsp;추가</button>
                    <button type="button" class="btn btn-light" id="prize-minus">&minus;&nbsp;제거</button>
                  </div>
                  <br>
                  <div>
                    <h4 class="section-title">희망근무조건</h4>
                    <div class="mb-3">
                        <label class="form-label"><strong>*&nbsp;업종</strong></label>
                        <input type="text" class="form-control" name="wantJob" placeholder="ex)피트니스강사" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label"><strong>*&nbsp;근무형태</strong></label>
                        <select class="form-control" name="wantType">
                            <option value="정규직">정규직</option>
                            <option value="계약직">계약직</option>
                            <option value="계약직(정규직전환가능)">계약직(정규직전환가능)</option>
                            <option value="인턴직">인턴직</option>
                            <option value="인턴직(정규직전환가능)">인턴직(정규직전환가능)</option>
                            <option value="아르바이트">아르바이트</option>
                            <option value="파견직">파견직</option>
                            <option value="프리랜서">프리랜서</option>
                            <oprion value="교육생">교육생</oprion>
                            <option value="파트타임">파트타임</option>
                            <option value="전임">전임</option>
                            <option value="기간제">기간제</option>
                            <option value="일용">일용</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label"><strong>*&nbsp;지역</strong></label>
                        <select class="form-control" name="wantLegion">
                            <option value="서울">서울</option>
                            <option value="경기도">경기도</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label"><strong>*&nbsp;근무시간</strong></label>
                        <input type="text" name="wantTime" id="want-time-real" hidden>
                        <div class="time-to-time">
                            <input type="time" class="form-control medium-label do-not-submit" id="work-start" required>
                            <span class="form-label text-center">&Tilde;</span>
                            <input type="time" class="form-control medium-label do-not-submit" id="work-end" required>
                            <span class="form-label text-center" id="worktime-counter">: 0.0시간</span>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label"><strong>*&nbsp;근무일수</strong></label>
                        <div class="time-to-time">
                            <select class="form-control medium-label" name="wantDay">
                                <option value="1">주 1일</option>
                                <option value="2">주 2일</option>
                                <option value="3">주 3일</option>
                                <option value="4">주 4일</option>
                                <option value="5">주 5일</option>
                                <option value="6">주 6일</option>
                                <option value="7">주 7일</option>
                            </select>
                            <span class="form-label text-center"></span>
                            <select class="form-control medium-label" name="wantDayType" required>
                                <option value="평일">평일</option>
                                <option value="주말">주말</option>
                                <option value="평일, 주말">평일, 주말</option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-3 short-span">
                        <label class="form-label"><strong>*&nbsp;희망임금</strong></label>
                        <div class="time-to-time">
                            <input type="number" class="form-control medium-label" min="0" name="wantSal" placeholder="10030" required>
                            <span class="form-label text-center">&#8361;</span>
                            <select class="form-control fit-label" name="wantSalType">
                                <option value="시급">시급</option>
                                <option value="일급">일급</option>
                                <option value="주급">주급</option>
                                <option value="월급">월급</option>
                                <option value="연봉">연봉</option>
                            </select>
                        </div>
                    </div>
                  </div>
                  <br>
                  <button type="submit" class="btn btn-success w-100 modal-btn" id="register-submit-btn">이력서 등록</button>
              </form>
          </div>
      </div>
    <script src="/js/trainer_function.js"></script>
    <script src="/js/trainer_register.js"></script>
    <script src="/js/trainer_thumbnail.js"></script>
    <!-- 푸터 -->
    <footer class="bg-dark text-white py-4">
        <div class="container">
            <div class="row">
                <!-- 회사 정보 -->
                <div class="col-md-3 mb-3">
                    <h5>회사 정보</h5>
                    <ul class="list-styled">
                        <li><a href="#" class="text-white">회사 소개</a></li>
                        <li><a href="#" class="text-white">채용 정보</a></li>
                        <li><a href="#" class="text-white">서비스 이용약관</a></li>
                        <li><a href="#" class="text-white">개인정보 처리방침</a></li>
                    </ul>
                </div>

                <!-- 고객 지원 -->
                <div class="col-md-3 mb-3">
                    <h5>고객 지원</h5>
                    <ul class="list-styled">
                        <li><a href="#" class="text-white">FAQ</a></li>
                        <li><a href="#" class="text-white">고객센터</a></li>
                        <li><a href="#" class="text-white">1:1 문의</a></li>
                    </ul>
                </div>

                <!-- 소셜 미디어 -->
                <div class="col-md-3 mb-3">
                    <h5>소셜 미디어</h5>
                    <ul class="list-unstyled d-flex">
                        <li><a href="#" class="text-white me-3"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="#" class="text-white me-3"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#" class="text-white me-3"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="#" class="text-white me-3"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>

                <!-- 뉴스레터 구독 -->
                <div class="col-md-3 mb-3">
                    <h5>뉴스레터 구독</h5>
                    <form>
                        <div class="input-group">
                            <input type="email" class="form-control" placeholder="이메일을 입력하세요" required>
                            <button class="btn btn-primary" type="submit">구독</button>
                        </div>
                    </form>
                </div>
            </div>

            <hr class="bg-white">

            <div class="row">
                <div class="col text-center">
                    <p>&copy; 2025 OneFit. 모든 권리 보유.</p>
                </div>
            </div>
        </div>
    </footer>
</div>
</html>