/* 메인페이지 CSS */
body{
    background-color: white;
}
.card-deck {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.card {
    flex: 0 0 23%; /* 카드 크기 설정 */
    height: 200px;
    cursor: pointer;
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 63%;
    transform: translateY(-50%);
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.5); /* 버튼 배경색 추가 */
    border-radius: 50%;
    width: 40px; /* 버튼 크기 */
    height: 40px; /* 버튼 크기 */
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-control-prev {
    left: -25px;
}

.carousel-control-next {
    right: -25px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    /* 아이콘 색상 */
    /* background-color: white; */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    color:black;
}
.notice-container {
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    /* background-color: #f8d7da; */
    /* color: #721c24; */
    text-align: center;
    border-radius: 5px;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    position: relative;
}

.notice-text {
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    width: 100%; /* 넓이를 100%로 설정하여 가운데 정렬 */
    text-align: center;
}

.notice-text.show {
    opacity: 1;
}