       /* 기본 스타일 */
       body {
           background-color: #fff;
       }

       .my-header {
           border-bottom: 2px solid #AFBAC8;
           background-color: #fff;
           padding: 0px 50px 0px 30px;
       }

       .my-rogo {
           margin-top: 12px;
       }

       .sidebar {
           height: 100vh;
           background-color: #ffffff;
           border-right: 1px solid #ddd;
           padding-top: 20px;
           width: 100px;
           transition: all 0.3s ease;
           /* 부드러운 애니메이션 */
       }

       .sidebar.closed {
           width: 0;
       }

       .sidebar-nav {
           padding: 10px;
       }

       .sidebar .nav-link {
           font-size: 16px;
           font-weight: 600;
           color: #495057;
           border-bottom: 1px solid #f4f4f4;
           padding: 20px 25px;
       }

       .sidebar .nav-link:hover {
           background-color: #f1f1f1;
           color: #007bff;
       }

       .offcanvas {
        overflow-y: auto !important;
        overflow-x: hidden !important;
    }

       .container-fluid {
           margin-left: 150px;
           transition: margin-left 0.3s ease;
           padding: 30px;
       }

       .container-fluid.shifted {
           margin-left: 300px;
       }

       .profile-img {
           width: 120px;
           height: 120px;
           border-radius: 50%;
           margin-right: 20px;
       }

       .card-header {
           background-color: #ffffff;
           border-bottom: 1px solid #ddd;
           font-weight: 600;
           color: #333;
       }

       .card-body {
           padding: 25px;
           background-color: #ffffff;
       }

       .card {
           border-radius: 8px;
           /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
           margin-bottom: 20px;
       }

       .nav-tabs {
           border-bottom: none !important;
       }


       .btn-primary {
           background-color: #007bff;
           border: none;
           padding: 10px 20px;
           font-weight: 600;
       }

       .btn-info {
           background-color: #17a2b8;
           border: none;
           padding: 8px 16px;
           font-weight: 600;
       }

       .btns-hanbuger {
           background-color: transparent !important;
       }

       .card-header i {
           color: #007bff;
           margin-right: 10px;
       }

       .nav-item .nav-link i {
           margin-right: 10px;
       }

       .recent-posts .card-body {
           padding: 20px;
       }

       .recent-posts .card-body h5 {
           font-size: 18px;
       }

       .side-rogo {
           font-size: 1.3rem;
       }

       .side-header {
           padding: 10px;
       }

       .my-name {
           font-weight: bold;
           padding: 0px 30px 10px 30px;

       }

       .my-main-header hr {
           width: 800px;
           margin-bottom: 35px;
       }

       .card-columns {
           display: grid;
           grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
           gap: 1.5rem;
           padding: 20px 20px 0px 20px;
       }

       .card-custom {
           border-radius: 15px;
           box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
           overflow: hidden;
           /* transition: transform 0.3s ease, box-shadow 0.3s ease; */
           height: 170px;
           margin-top: 20px;
           margin-bottom: 20px;
       }

       .custom-carousel-btn {
           position: static !important;
           /* 기본 absolute 속성 제거 */
           display: inline-block;
           /* 버튼이 사라지는 문제 방지 */
       }

       .round-btn {
           width: 40px;
           height: 40px;
           border-radius: 50%;
           display: flex;
           align-items: center;
           justify-content: center;
           border: 1px solid #ddd;
           color: #495057;
           background-color: #fff;
           /* 부트스트랩 primary 색상 */
           font-size: 1.2rem;
           transition: background-color 0.3s, transform 0.2s;
       }

       .round-btn:hover {
           background-color: #f4f6fa;
           /* 어두운 파란색 */
           transform: scale(1.1);
       }

       .round-btn:active {
           transform: scale(0.95);
       }

       .round-btn:disabled {
           background-color: #eaedf4 !important;
           /* 연한 회색 */
           color: #666 !important;
           /* 글자 색도 흐리게 */
           cursor: not-allowed;
           /* 마우스 커서를 '금지' 아이콘으로 변경 */
           transform: none;
           /* hover 효과 제거 */
       }

       .slide-div {
           padding: 0px 15px 15px 20px;
       }

       .more-a {
           text-decoration: none;
           color: #AFBAC8;
       }

       .more-a:hover {
           text-decoration: underline;
       }

       .recruit-card {
           overflow: hidden;
           text-overflow: ellipsis;
           white-space: nowrap;
           width: 100%;
           min-width: 0;
       }

       .business-info {
           font-size: 0.9rem;
           overflow: hidden;
           white-space: nowrap;
           width: 100%;
           min-width: 0;
       }

       .mt-last {
           overflow: hidden;
           text-overflow: ellipsis;
       }

       .navbar-toggler-icon {
           font-size: 1.5rem;
           margin: 0px 0px 15px 15px;
           color: #AFBAC8;
       }

       .toggle-sidebar:hover {
           background-color: #fff;
       }

       nav ul {
           padding: 10px;
       }

       nav ul li {
           padding: 10px;
       }

       .btns {
           color: #373F57;
           /* 파란색 글자 */
           text-decoration: none;
           /* 밑줄 제거 */
           all: unset;

           padding: 8px 15px;
           /* 내부 여백 추가 */
           transition: all 0.3s ease-in-out;
           /* 부드러운 애니메이션 효과 */
       }


       /* 추가 */
       .nav-width {
           width: 200px;
       }

       .slash {
           padding-bottom: 8px;
       }