.pagination {
    padding: 30px 0;
}

.pagination ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.pagination .page-link {
    transition: border-bottom-color 0.5s;
    border-bottom: 4px solid #0d89fd00;
    font-size: large;
    padding: 0 2px;
}

.pagination .pagearrow {
    transition: all 0.5s;
    font-size: large;
    padding: 0 2px;
}

.pagination a {
    display: inline-block;
    padding: 10px 14px;
    color: #222;
    text-decoration: none;
}

.pagination .is-active .pageitem {
    font-weight: bold;
    color: #0d6efd;
    border-bottom-color: #0d89fd !important;
}

.pagination .is-deactive {
    pointer-events: none;
    color: #0000003a;
}

.pagination a:hover .pageitem {
    border-bottom-color: #0d89fda1;
}

.pagination a:hover .pagearrow.leftarrow {
    color: #0d89fd;
    font-weight: bold;
    text-shadow: -10px 0 #0d89fd;
}

.pagination a:hover .pagearrow.rightarrow {
    color: #0d89fd;
    font-weight: bold;
    text-shadow: 10px 0 #0d89fd;
}