.resume-container {
  max-width: 900px;
  margin: 0 auto;
}
.card img {
  width: 150px;
  height: 150px;
}
.card {
  padding: 30px;
  min-height: 220px;
}
.resume-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.resume-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  width: 400px;
}
.modal-wide{
  max-width: 900px;
}
.no-outline .form-control{
  border: none;
}
.no-outline .form-control:focus{
  box-shadow: none;
}
.no-outline .form-label{
  width: 146px;
  padding-left: 13px;
}
.no-outline .section-title{
  font-weight: bold;
  border-bottom: 2px solid #000;
  padding-bottom: 5px;
  margin-bottom: 15px;
}
.no-outline .profile-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.mb-2{
display: flex;
}
.top-of-regi .form-label {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 120px;
  flex-shrink: 0;
}
.img-center {
  text-align: center !important;
}
.smoke {
  background-color: #f9f9f9;
}
.trainer-regi-date {
  flex-shrink: 0 !important;
  margin-left: 10px;
  position: relative;
}
.list-card-info {
  display: flex;
  flex-wrap: wrap;
}
.bottom-time {
  position: absolute;
  top: 20px;
  left: 0;
}
.reset-filtering {
  text-decoration: none;
  position: relative;
  top: -14px;
  left: -8px;
}