body {
    background-color: #f8f9fa;
}

.post-container {
    max-width: 1000px;
    background: #fff;
    border-radius: 10px;

    border: 1px solid #ddd;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    padding: 30px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 45px;
}

.form-section {
    /* border-bottom: 1px solid #ddd; */
    padding-bottom: 20px;
    /* margin-bottom: 30px; */
}

.form-section:last-child {
    border-bottom: none;
}


.btn-check:checked+.btn {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}


.product-h5 {
    font-weight: bold;
    padding-bottom: 10px;
}

.detail-h5 {
    /* padding-top: 20px; */
}

.preview-img {
    max-width: 100%;
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 8px;
    margin-top: 10px;
}

.file-label {
    cursor: pointer;
    padding: 10px;
    background: #f8f9fa;
    border-radius: 8px;
    text-align: center;
    border: 1px dashed #ccc;
}

.form-label {
    font-weight: bold;
}

.form-control {
    background-color: #eee;
}

.product-btn {
    padding: 15px 15px;
    font-size: 1.2rem;
    font-weight: bold;
}

.use-date-div {
    margin-top: 5px;
}

.input-feedback {
    display: none;
}
