.card {
    border-radius: 15px;
    overflow: hidden;
    border: 1px solid #AFBAC8;
    background-color: #fff;
    margin-bottom: 50px;
}

.card-header {
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.card-title {
    /* font-size: 1.2rem; */
    font-weight: bold;
}

.status-span {
    color: #F95454;
}

.read-info {
    padding-left: 30px;
    padding-right: 30px;
}

.card-body {
    padding: 20px;
}

.card-body h3 {
    font-weight: bold;
    color: #F95454;
}

.card-body .btn {
    font-size: 1.2rem;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #fee500;
    color: #3A1D1D;
    font-weight: bold;
    margin-right: 20px;
}

/*.img-container {*/
/*    max-width: 550px;*/
/*    max-height: 550px;*/
/*    padding: 10px;*/
/*}*/
.carousel-img-container {
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border-radius: 10px;
}

.carousel-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer; /* 클릭 가능하도록 변경 */
}

.carousel-item active {
    border-radius: 10px;
}

.text-muted {
    font-size: 0.8rem;
    color: #888 !important;
}

.span-line {
    font-size: 0.9rem;
}

.reply-content {
    padding-left: 10px;
}

.reply-menu-btn {
    font-size: 0.9rem;
    text-decoration: none;
}

.card-footer {
    text-align: center;
    padding: 15px;
    background-color: #f8f8f8;
}

.read-info p strong {
    color: #868b94;
}

.content-title {
    font-weight: bold;
}

.content {
    margin-top: 0;
    max-height: 250px;
    white-space: pre-line;
}

.profile-img {
    width: 80px; /* 프로필 이미지 크기 */
    height: 80px;
    border-radius: 50%; /* 원형 이미지 */
    object-fit: cover; /* 이미지 비율 유지 */
}

.img-info-container {
    padding-left: 30px;
}

.reply-btn {
    font-weight: bold;
    background-color: #007bff;
    color: #fff;
    white-space: nowrap;
}

.reply-btn:hover {
    background-color: #0066cc;
    color: #fff;
}

.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.pagination .page-item .page-link {
    color: #333;
    border-radius: 5px;
    margin: 0 5px;
    font-weight: bold;
    transition: all 0.3s ease;
}
.pagination .page-item.active .page-link {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}
.pagination .page-item .page-link:hover {
    background-color: #e0e0e0;
}

.bi-three-dots {
    font-size: 1.4rem;
}

.card-title {
    margin-left: 10px;
}

#replyForm {
    display: contents;
}

.reply-div {
    border-bottom: 1px solid rgb(238, 238, 238);
    padding-bottom: 15px;
}

/* 댓글 수정 모달 CSS start */
.reply-modal-content {
    border-radius: 8px;
    border: 1px solid #ddd;
    min-width: 500px;
}
.modal-header {
    background-color: #fff;
    color: #333;
    border-radius: 8px 8px 0 0;
    padding: 15px 20px;
}
.modal-title {
    font-weight: bold;
}
.modal-body {
    padding: 20px 25px;
}
.modal-footer {
    border-top: 1px solid #ddd;
    padding: 10px 20px;
    justify-content: flex-start;
}

/* 버튼 스타일 */
.btn-custom {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 8px 15px;
    transition: background-color 0.3s ease;
}
.btn-custom:hover {
    background-color: #555;
}
.btn-close {
    color: #333;
}

/* input 스타일 */
.form-control {
    border-radius: 6px;
    border: 1px solid #ccc;
    padding: 10px;
}
.form-control:focus {
    border-color: #333;
}

/* 모달 여백 조정 */
.modal-dialog {
    max-width: 400px;
}

.reply-modify-header {
    padding-bottom: 15px;
}
/* 댓글 수정 모달 CSS end */

fieldset {
    all: revert;
    display: contents;
}

.like {
    margin-right: 19px;
}

.like-btn {
    all: revert;
    display: contents;
    color: #FF0000;
    font-size: 1.5rem;
}

.img-modal-dialog {
    justify-content: center;
    align-items: center;
}

.img-modal-content {
    border-radius: 8px;
    border: 1px solid #ddd;
    min-width: 1000px;
    max-width: 100%;
    overflow: hidden;
}


